{% extends "email/base.html" %}
{% load app_tags %}
{% load i18n %}
{% load static %}

{% block email_all %}
    <div style="max-width:600px;margin:0 auto">
        <img style="width:38px;height:38px;margin:0 0 15px 30px;" src="{{ app_full_domain }}{% static "img/slack.png" %}" width="38" height="38">
        <h1 style="font-size:30px;padding-right:30px;padding-left:30px">
            Join KTH AI Society on <span class="il">Slack</span>
        </h1>
        <p style="font-size:17px;padding-right:30px;padding-left:30px">
            You have been <span class="il">invited</span> to join the <span class="il">Slack</span> workspace <strong>KTH AI Society</strong>. Join now to start collaborating!
        </p>
        <div style="padding-right:30px;padding-left:30px">
            <table style="width:100%">
                <tbody>
                    <tr style="width:100%">
                        <td style="width:100%">
                            <span style="display:inline-block;border-radius:4px;background-color:#2ea664">
                                <a style="min-width:196px;border-top:13px solid;border-bottom:13px solid;border-right:24px solid;border-left:24px solid;border-color:#2ea664;border-radius:4px;background-color:#2ea664;color:#ffffff;font-size:18px;line-height:18px;word-break:break-word;display:inline-block;text-align:center;font-weight:900;text-decoration:none!important" target="_blank" href="{{ app_full_domain }}/slack">Join Now</a>
                            </span>
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
        <table style="width:100%;margin-top: 25px;">
            <tbody>
                <tr>
                    <td style="box-sizing:border-box;padding:0;padding-right:30px;padding-left:30px">
                        <div style="color:#434245;text-align:left;width:100%;font-size:15px">
                            <table style="display:inline-table;vertical-align:top;width:100%;border:0px;border-collapse:collapse">
                                <tbody>
                                    <tr style="border-top:1px solid #e1e1e4">
                                        <td style="padding-top:10px">
                                            <table style="display:inline-table;width:434px;max-width:100%;border:0px;border-collapse:collapse;width:434px">
                                                <tbody>
                                                    <tr>
                                                        <td style="width:38px;padding-right:15px;padding-top:10px;width:38px">
                                                            <a href="https://kthaisociety.slack.com" style="margin:6px 0 15px;display:block" target="_blank">
                                                                <img style="height:38px;width:38px;min-width:38px;border-radius:4px;color:#ffffff;font-size:18px;line-height:38px" src="{{ app_full_domain }}{% static "img/logo_square_plain_filled.png" %}">
                                                            </a>
                                                        </td>
                                                        <td>
                                                            <div style="display:none">Workspace name: START Hack 2019</div>
                                                        </td>
                                                        <td>
                                                            <strong>KTH AI Society</strong>
                                                            <br>
                                                            Workspace URL: <a target="_blank" href="http://kthaisociety.slack.com">kthaisociety.<span class="il">slack</span>.com</a>
                                                        </td>
                                                    </tr>
                                                </tbody>
                                            </table>
                                            <div style="clear:both"></div>
                                        </td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
{% endblock %}
