{% extends "base.html" %}
{% load app_tags %}
{% load static %}

{% block head_title %}Dashboard{% endblock %}

{% block in_body %}
    <div class="container container-body py-4 py-md-5">
        <div class="row">
            <div class="col-md-3 mb-4">
                <div class="dashboard-profile">
                    <img id="dashboard-profile-picture" src="{{ request.user.profile_picture.crop.500x500 }}" alt="Profile picture">
                    {% if request.user.slack_status %}
                        <div class="dashboard-status">
                            <p class="mb-0">{{ request.user.slack_status }}</p>
                        </div>
                    {% endif %}
                </div>
            </div>
            <div class="col-md-9 pl-md-4">
                <div class="row mb-4">
                    <div class="col-md-12">
                        <div class="card w-100">
                            <div class="card-body">
                                <h4 class="card-title">🙂 Profile</h4>
                                <hr>
                                <form action="" method="post" class="form" enctype="multipart/form-data">
                                    {% csrf_token %}
                                    <div class="row">
                                        <div class="col-md-6 mb-3">
                                            <label for="id_name">First name <small>(required)</small></label>
                                            <input type="text" name="name" maxlength="225" class="form-control" placeholder="Daniel" id="id_name" {% if request.user.first_name %}value="{{ request.user.first_name }}"{% elif request.user.name %}value="{{ request.user.name }}"{% endif %}>
                                        </div>
                                        <div class="col-md-6 mb-3">
                                            <label for="id_surname">Last name <small>(required)</small></label>
                                            <input type="text" name="surname" maxlength="225" class="form-control" placeholder="Stenberg" id="id_surname" {% if form.last_name %}value="{{ form.last_name }}"{% elif request.user.surname %}value="{{ request.user.surname }}"{% endif %}>
                                        </div>
                                        <div class="col-md-6 mb-3">
                                            <label for="id_email">Email <small>(required)</small></label>
                                            <input type="email" name="email" maxlength="225" class="form-control" placeholder="curl@kthais.com" disabled="disabled" id="id_email" value="{{ request.user.email }}">
                                        </div>
                                        <div class="col-md-6 mb-3">
                                            <label for="id_phone">Phone</label>
                                            <input type="text" name="phone" maxlength="225" class="form-control" placeholder="070-000 00 00" id="id_phone" {% if form.phone %}value="{{ form.phone }}"{% elif request.user.phone %}value="{{ request.user.phone }}"{% endif %}>
                                        </div>
                                    </div>
                                    {% if request.user.registration_finished %}
                                        <div class="row">
                                            <div class="col-md-12 mb-3">
                                                <label for="id_university">University <small>(required)</small></label>
                                                <select name="university" class="form-control" id="id_university">
                                                    {% for university in const_universities %}
                                                        <option value="{{ forloop.counter0 }}" {% if form.university == forloop.counter0|stringformat:"i" %}selected=""{% elif request.user.university == forloop.counter0|stringformat:"i" %}selected=""{% elif not form.university and university == "KTH Royal Institute of Technology" %}selected=""{% endif %}>{{ university }}</option>
                                                    {% endfor %}
                                                </select>
                                            </div>
                                            <div class="col-md-12">
                                                <label class="other_university">University name <small>(required)</small></label>
                                                <input type="text" name="other_university" maxlength="225" class="form-control other_university mb-3" placeholder="Polytechnic University of Catalonia" id="id_other_university" {% if form.other_university %}value="{{ form.other_university }}"{% elif request.user.other_university %}value="{{ request.user.other_university }}"{% endif %}>
                                            </div>
                                            <div class="col-md-8 mb-3">
                                                <label for="id_degree">Programme <small>(required)</small></label>
                                                <select name="degree" class="form-control" id="id_degree">
                                                    {% for programme in const_programmes %}
                                                        <option value="{{ forloop.counter0 }}" {% if form.programme == forloop.counter0|stringformat:"i" %}selected=""{% elif request.user.programme == forloop.counter0|stringformat:"i" %}selected=""{% elif not form.programme and request.user.degree == programme %}selected=""{% elif not form.programme and not request.user.degree and programme == "Machine Learning" %}selected=""{% endif %}>{{ programme }}</option>
                                                    {% endfor %}
                                                </select>
                                            </div>
                                            <div class="col-md-4 mb-3">
                                                <label for="id_graduation">Graduation year <small>(required)</small></label>
                                                <input type="number" name="graduation" class="form-control" min="1940" max="2040" placeholder="{{ year }}" id="id_Graduation" {% if form.graduation_year %}value="{{ form.graduation_year }}"{% elif request.user.graduation_year %}value="{{ request.user.graduation_year }}"{% endif %}>
                                            </div>
                                            <div class="col-md-6 mb-3">
                                                <label for="id_resume">Resume</label>
                                                <div class="form-group custom-file">
                                                    <input type="file" class="custom-file-input" style="cursor: pointer;" id="id_resume" name="resume" accept="application/pdf">
                                                    <label class="custom-file-label" for="id_resume">Select a new file</label>
                                                    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
                                                    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
                                                    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
                                                    <script>
                                                        $(".custom-file-input").on("change", function() {
                                                          var fileName = $(this).val().split("\\").pop();
                                                          console.log(fileName);
                                                          $(this).siblings(".custom-file-label").addClass("selected").html(fileName);
                                                        });
                                                    </script>
                                                </div>
                                                {% if request.user.resume %}
                                                    <p class="mt-2 mb-0">✅ Uploaded <a href="{% url "user_dashboard_resume" %}">{{ request.user.resume_name }}</a></p>
                                                {% else %}
                                                    <p class="mt-2 mb-0">❌ Not uploaded</p>
                                                {% endif %}
                                            </div>
                                            <div class="col-md-6 mb-3">
                                                <label for="id_website">Website</label>
                                                <input type="url" name="website" maxlength="225" class="form-control" placeholder="https://curl.se" id="id_website" {% if form.website %}value="{{ form.website }}"{% elif request.user.website %}value="{{ request.user.website }}"{% endif %}>
                                            </div>
                                        </div>
                                        <div class="row">
                                            <div class="col-md-6 mb-3">
                                                <label for="id_linkedin">LinkedIn</label>
                                                <input type="url" name="linkedin_url" maxlength="225" class="form-control" placeholder="https://linkedin.com/in/curl" id="id_linkedin" {% if form.linkedin_url %}value="{{ form.linkedin_url }}"{% elif request.user.linkedin_url %}value="{{ request.user.linkedin_url }}"{% endif %}>
                                            </div>
                                            <div class="col-md-6 mb-3">
                                                <label for="id_twitter">Twitter</label>
                                                <input type="url" name="twitter_url" maxlength="225" class="form-control" placeholder="https://twitter.com/curl" id="id_twitter" {% if form.twitter_url %}value="{{ form.twitter_url }}"{% elif request.user.twitter_url %}value="{{ request.user.twitter_url }}"{% endif %}>
                                            </div>
                                            <div class="col-md-6 mb-3">
                                                <label for="id_github">GitHub</label>
                                                <input type="url" name="github_url" maxlength="225" class="form-control" placeholder="https://github.com/kthaisociety" id="id_github" {% if form.github_url %}value="{{ form.github_url }}"{% elif request.user.github_url %}value="{{ request.user.github_url }}"{% endif %}>
                                            </div>
                                            <div class="col-md-6 mb-3">
                                                <label for="id_scholar">Google Scholar</label>
                                                <input type="url" name="scholar_url" maxlength="225" class="form-control" placeholder="https://scholar.google.com/citations?user=REbc02cAAAAJ" id="id_scholar" {% if form.scholar_url %}value="{{ form.scholar_url }}"{% elif request.user.scholar_url %}value="{{ request.user.scholar_url }}"{% endif %}>
                                            </div>
                                            <div class="col-md-6 mb-3">
                                                <label for="id_researchgate">ResearchGate</label>
                                                <input type="url" name="researchgate_url" maxlength="225" class="form-control" placeholder="https://www.researchgate.net/profile/Josephine-Sullivan" id="id_researchgate" {% if form.researchgate_url %}value="{{ form.researchgate_url }}"{% elif request.user.researchgate_url %}value="{{ request.user.researchgate_url }}"{% endif %}>
                                            </div>
                                            <div class="col-md-6 mb-3">
                                                <label for="id_orcid">ORCID</label>
                                                <input type="text" name="orcid" maxlength="225" class="form-control" placeholder="0000-0002-1827-1877" id="id_orcid" {% if form.orcid %}value="{{ form.orcid }}"{% elif request.user.orcid %}value="{{ request.user.orcid }}"{% endif %}>
                                            </div>
                                        </div>
                                        <div class="row">
                                            <div class="col-md-12 mb-2">
                                                <p class="mb-0">Please note the following information is only used for demographical purposes.</p>
                                            </div>
                                            <div class="col-md-6 mb-3">
                                                <label for="id_birthday">Date of birth</label>
                                                <input type="date" name="birthday" class="form-control" placeholder="1986-09-17" id="id_birthday" {% if form.birthday %}value="{{ form.birthday }}"{% elif request.user.birthday %}value="{{ request.user.birthday|date:'Y-m-d' }}"{% endif %}>
                                            </div>
                                            <div class="col-md-6 mb-3">
                                                <label for="id_gender">Gender</label>
                                                <select name="gender" class="form-control" id="id_gender">
                                                    <option  {% if not form.gender and not request.user.gender %}selected=""{% endif %} disabled>―</option>
                                                    <option  {% if form.gender == "0" %}selected=""{% elif request.user.gender == 0 %}selected=""{% endif %} value="0">Prefer not to say</option>
                                                    <option {% if form.gender == "1" %}selected=""{% elif request.user.gender == 1 %}selected=""{% endif %} value="1">Female</option>
                                                    <option {% if form.gender == "2" %}selected=""{% elif request.user.gender == 2 %}selected=""{% endif %} value="2">Male</option>
                                                    <option {% if form.gender == "3" %}selected=""{% elif request.user.gender == 3 %}selected=""{% endif %} value="3">Non-binary</option>
                                                </select>
                                            </div>
                                            <div class="col-md-6 mb-3">
                                                <label for="id_city">City <small>(required)</small></label>
                                                <input type="text" name="city" maxlength="225" class="form-control" placeholder="Stockholm" id="id_city" {% if form.city %}value="{{ form.city }}"{% elif request.user.city %}value="{{ request.user.city }}"{% endif %}>
                                            </div>
                                            <div class="col-md-6 mb-3">
                                                <label for="id_country">Country <small>(required)</small></label>
                                                <input type="text" name="country" maxlength="225" class="form-control" placeholder="Sweden" id="id_country" {% if form.country %}value="{{ form.country }}"{% elif request.user.country %}value="{{ request.user.country }}"{% endif %}>
                                            </div>
                                        </div>
                                        <div class="form-group mt-1 mb-0">
                                            <button class="btn btn-primary" type="submit">Update</button>
                                        </div>
                                    {% endif %}
                                </form>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row mb-4">
                    <div class="col-md-12">
                        <div class="card w-100">
                            <div class="card-body">
                                <h4 class="card-title mb-0">📅 Events</h4>
                                {% if request.user.event_registrations %}
                                    <div class="row pl-2 pr-2 d-flex">
                                        {% for registration in request.user.event_registrations %}
                                            <div class="col-12 col-md-4 mt-2 mb-2 pl-2 pr-2">
                                                <a class="link-unstyled" href="{{ registration.event.url }}" target="_blank">
                                                    <div class="card mt-2 mb-0 h-100">
                                                        <img class="card-img-top rounded-0" src="{{ registration.event.picture.crop.500x300 }}">
                                                        <div class="card-body">
                                                            {% if registration.event.is_event_future %}
                                                                <span class="badge badge-primary p-2 mb-2 d-table d-md-inline-block mt-0">Upcoming event</span>
                                                            {% else %}
                                                                <span class="badge badge-dark p-2 mb-2 d-table d-md-inline-block mt-0">Past event</span>
                                                            {% endif %}
                                                            <h5 class="mb-0">{{ registration.event.name }}</h5>
                                                        </div>
                                                    </div>
                                                </a>
                                            </div>
                                        {% endfor %}
                                    </div>
                                {% else %}
                                    <h6 class="card-text mt-3">❌ You have no event registrations</h6>
                                {% endif %}
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row mb-4">
                    <div class="col-md-12">
                        <div class="card w-100">
                            <div class="card-body">
                                <h4 class="card-title"><img alt="Slack icon" class="inline-icon-h4" src="{{ app_full_domain }}{% static "img/slack.png" %}">Slack</h4>
                                {% if request.user.slack_token %}
                                    <h6 class="card-text mt-3 mb-3">✅ Connected</h6>
                                    <hr>
                                    <p class="card-text"><strong>User ID:</strong> {{ request.user.slack_id }}</p>
                                    <a class="link-unstyled" href="https://kthaisociety.slack.com">
                                        <button type="button" class="btn btn-primary">Open Slack</button>
                                    </a>
                                {% else %}
                                    <h6 class="card-text mt-3 mb-3">❌ Not connected</h6>
                                    <hr>
                                    <p class="card-text">If you want to get the most out of KTH AI Society you can authorise Slack!</p>
                                    <a class="link-unstyled" href="https://slack.com/oauth/v2/authorize?client_id={{ sl_id }}&user_scope={{ sl_user_scopes }}&redirect_uri={{ app_full_domain }}{% url "slack_user_auth" %}">
                                        <button type="button" class="btn btn-primary">Authorize</button>
                                    </a>
                                {% endif %}
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row mb-4">
                    <div class="col-md-12">
                        <div class="card w-100">
                            <div class="card-body">
                                <h4 class="card-title mb-0">🏛️ Legal</h4>
                                <hr>
                                <div class="row">
                                    <div class="col-12 mb-3">
                                        <p class="card-text">You can request to download a copy of all your information to save it or transfer it to another service according to GDPR.</p>
                                        <a class="link-unstyled" href="{% url "user_data" %}">
                                            <button type="button" class="btn btn-primary">Download data</button>
                                        </a>
                                    </div>
                                    <div class="col-12">
                                        <p class="card-text">You can request to delete all your information according to GDPR.</p>
                                        <a class="link-unstyled" href="{% url "user_delete" %}">
                                            <button type="button" class="btn btn-danger">Delete account</button>
                                        </a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}

{% block scripts %}
    {{ block.super }}
    <script>
        // Each change of university field, show/hide other uni name depending on selection
        $("select").filter("#id_university").on('change', toggleOtherUniversity);

        function toggleOtherUniversity() {
            var selected_uni = $("#id_university")[0].options[$("#id_university")[0].selectedIndex].text;
            if (selected_uni.includes("Other university")) {
                $('.other_university').show()
            } else {
                $('.other_university').hide();
            }
        }

        // Hide by default if not filled (when pressing back we want it to show.)
        window.onload(toggleOtherUniversity());
    </script>
{% endblock %}
