{% extends "base.html" %}
{% load app_tags %}
{% load static %}

{% block head_title %}Dashboard{% endblock %}

{% block in_body %}
    <div class="container container-body py-4 py-md-5">
        <div class="row">
            <div class="col-md-3 mb-4">
                <div class="dashboard-profile">
                    <img id="dashboard-profile-picture" src="{{ request.user.profile_picture.crop.500x500 }}" alt="Profile picture">
                    {% if request.user.slack_status %}
                        <div class="dashboard-status">
                            <p class="mb-0">{{ request.user.slack_status }}</p>
                        </div>
                    {% endif %}
                </div>
            </div>
            <div class="col-md-9 pl-md-4">
                <div class="row mb-4">
                    <div class="col-md-12">
                        <div class="card w-100">
                            <div class="card-body">
                                <h4 class="card-title">🙂 Profile</h4>
                                <hr>
                                <div class="row">
                                    <div class="col-md-4">
                                        <p class="card-text mb-0"><strong>First name:</strong> {{ request.user.name }}</p>
                                    </div>
                                    <div class="col-md-4">
                                        <p class="card-text mb-0"><strong>Last name:</strong> {{ request.user.surname }}</p>
                                    </div>
                                    <div class="col-md-4">
                                        <p class="card-text mb-0"><strong>Email:</strong> <a href="mailto:{{ request.user.email }}" target="_blank" class="link-unstyled">{{ request.user.email }}</a></p>
                                    </div>
                                </div>
                                {% if request.user.registration_finished %}
                                    <hr>
                                    <div class="row">
                                        <div class="col-md-8">
                                            <p class="card-text mb-0"><strong>University:</strong> {{ request.user.university }}</p>
                                            <p class="card-text mb-0"><strong>Programme:</strong> {{ request.user.degree }}</p>
                                            <p class="card-text mb-0"><strong>Graduation year:</strong> {{ request.user.graduation_year }}</p>
                                        </div>
                                        <div class="col-md-4">
                                            <p class="card-text mb-0"><strong>City:</strong> {{ request.user.city }}</p>
                                            <p class="card-text mb-0"><strong>Country:</strong> {{ request.user.country }}</p>
                                        </div>
                                    </div>
                                {% endif %}
                                <hr>
                                <h6 class="card-text mt-3 mb-2">Resume</h6>
                                {% if request.user.resume %}
                                    <p class="mt-0 mb-2">✅ Uploaded <a href="{% url "user_dashboard_resume" %}">{{ request.user.resume_name }}</a></p>
                                {% else %}
                                    <p>❌ Not uploaded</p>
                                {% endif %}
                                <form action="" method="post" class="form" enctype="multipart/form-data">
                                    {% csrf_token %}
                                    <div class="form-group custom-file">
                                        <input type="file" class="custom-file-input" style="cursor: pointer;" id="id_resume" name="resume" accept="application/pdf">
                                        <label class="custom-file-label" for="id_resume">Select a new file</label>
                                        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
                                        <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
                                        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
                                        <script>
                                            $(".custom-file-input").on("change", function() {
                                              var fileName = $(this).val().split("\\").pop();
                                              console.log(fileName);
                                              $(this).siblings(".custom-file-label").addClass("selected").html(fileName);
                                            });
                                        </script>
                                    </div>
                                    <div class="form-group mt-3">
                                        <button class="btn btn-primary" type="submit">Update</button>
                                    </div>
                                </form>
                                <hr>
                                {% if request.user.email_verified %}
                                    <h6 class="card-text mt-3 mb-3">✅ Email verified</h6>
                                {% else %}
                                    <h6 class="card-text mt-3 mb-3">❌ Email not verified</h6>
                                {% endif %}
                                {% if request.user.registration_finished %}
                                    <h6 class="card-text mt-3 mb-0">✅ Registration finished</h6>
                                {% else %}
                                    <h6 class="card-text mt-3 mb-0">❌ Registration not finished</h6>
                                {% endif %}
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row mb-4">
                    <div class="col-md-12">
                        <div class="card w-100">
                            <div class="card-body">
                                <h4 class="card-title mb-0">📅 Events</h4>
                                {% if request.user.event_registrations %}
                                    <div class="row pl-2 pr-2 d-flex">
                                        {% for registration in request.user.event_registrations %}
                                            <div class="col-12 col-md-4 mt-2 mb-2 pl-2 pr-2">
                                                <a class="link-unstyled" href="{{ registration.event.url }}" target="_blank">
                                                    <div class="card mt-2 mb-0 h-100">
                                                        <img class="card-img-top rounded-0" src="{{ registration.event.picture.crop.500x300 }}">
                                                        <div class="card-body">
                                                            {% if registration.event.is_event_future %}
                                                                <span class="badge badge-primary p-2 mb-3 d-table d-md-inline-block mt-0">Upcoming event</span>
                                                            {% else %}
                                                                <span class="badge badge-dark p-2 mb-3 d-table d-md-inline-block mt-0">Past event</span>
                                                            {% endif %}
                                                            <h5 class="mb-0">{{ registration.event.name }}</h5>
                                                        </div>
                                                    </div>
                                                </a>
                                            </div>
                                        {% endfor %}
                                    </div>
                                {% else %}
                                    <h6 class="card-text mt-3">❌ You have no event registrations</h6>
                                {% endif %}
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row mb-4">
                    <div class="col-md-12">
                        <div class="card w-100">
                            <div class="card-body">
                                <h4 class="card-title"><img alt="Slack icon" class="inline-icon-h4" src="{{ app_full_domain }}{% static "img/slack.png" %}">Slack</h4>
                                {% if request.user.slack_token %}
                                    <h6 class="card-text mt-3 mb-3">✅ Connected</h6>
                                    <hr>
                                    <p class="card-text"><strong>User ID:</strong> {{ request.user.slack_id }}</p>
                                    <a class="link-unstyled" href="https://kthaisociety.slack.com">
                                        <button type="button" class="btn btn-primary">Open Slack</button>
                                    </a>
                                {% else %}
                                    <h6 class="card-text mt-3 mb-3">❌ Not connected</h6>
                                    <hr>
                                    <p class="card-text">If you want to get the most out of KTH AI Society you can authorise Slack!</p>
                                    <a class="link-unstyled" href="https://slack.com/oauth/v2/authorize?client_id={{ sl_id }}&user_scope={{ sl_user_scopes }}&redirect_uri={{ app_full_domain }}{% url "slack_user_auth" %}">
                                        <button type="button" class="btn btn-primary">Authorize</button>
                                    </a>
                                {% endif %}
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row mb-4">
                    <div class="col-md-12">
                        <div class="card w-100">
                            <div class="card-body">
                                <h4 class="card-title mb-0">🏛️ Legal</h4>
                                <hr>
                                <p class="card-text">You can request to download a copy of all your information to save it or transfer it to another service according to GDPR.</p>
                                <a class="link-unstyled" href="{% url "user_data" %}">
                                    <button type="button" class="btn btn-primary">Download data</button>
                                </a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}
