{% extends "base.html" %}
{% load bootstrap4 %}
{% load i18n %}

{% block head_title %}{% trans "Login" %}{% endblock %}

{% block content %}
    <div class="container">
      <div class="section-intro text-center">
        <h2>Login</h2>
      </div>
      <div class="row">
        <form action="" method="post" class="form ">
            {% csrf_token %}
            <div class="col-md-6 col-lg-6 mb-6 mb-lg-0 col-centered">
              <div class="service-card">

            <!-- Afegir forgot password -->
                <div class="form-group">
                    <label for="id_email">Email</label>
                    <input type="email" name="email" maxlength="225" class="form-control" placeholder="jonny5@khais.com" id="id_email">
                </div>
                <div class="form-group">
                    <label for="id_password">Password</label>
                    <input type="password" name="password" maxlength="225" class="form-control" placeholder="****************" id="id_password">
                </div>
                <div class="form-group-button-2">
                    <button class="btn btn-primary btn-block" type="submit">{% trans "Login" %}</button>
                </div>
                <!-- <div class="form-group">
                    <p>Don't have an account? Signup <a href="{% url 'user_signup' %}">here</a>!</p>
                </div> -->
              </div>
            </div>
        </form>
      </div>
    </div>
{% endblock %}
