{% extends "email/base.html" %}
{% load app_tags %}
{% load bootstrap4 %}
{% load i18n %}

{% block email_message_pre %}
    <p>Hello fellow KTHAISers!</p>
    <p>Hope you are all doing well and that you are staying safe. We have been hard at work trying to deliver events to you in times like these. We are now launching a series of webinars with our partner McKinsey & Company, the first one will be held this Thursday April 23rd at noon. We would be thrilled to have you join us! The deadline to sign up is tomorrow so best to do it now.</p>
    <p>On thursday McKinsey & Company will speak about one of their AI projects in the public sector and also answer your questions regarding the adoption of AI in the public and private sectors.</p>
    <p>See you there!<br>Filip Matz</p>
{% endblock %}

{% block email_button_url %}{% full_url "events_event" event.code %}{% endblock %}

{% block email_button_text %}Sign up{% endblock %}
