{% extends "email/base.html" %}
{% load app_tags %}
{% load i18n %}

{% block email_message_pre %}
    <p>Thanks for attending the women’s webinar today hosted by McKinsey & Company Analytics.</p>
    <p>We hope you enjoyed the webinar and found the personal journeys that Anastasia and Mareile shared insightful. If you could fill out a short feedback survey to share your thoughts on the webinar that would be much appreciated!<p>
    <p>When asked please indicate McKinsey Analytics women’s webinar on 29 May as the name of the event.</p>
    <p>We look forward to meeting you again soon!</p>
{% endblock %}

{% block email_closing %}{% endblock %}

{% block email_button_url %}https://www.surveymonkey.com/r/McKevents{% endblock %}

{% block email_button_text %}Answer survey{% endblock %}
