{% extends "email/base.html" %}
{% load app_tags %}
{% load i18n %}

{% block email_message_pre %}
    {% if registration.event.external_url %}
        <p>Remember to join us for <strong>{{ registration.event.name }}</strong>, you can find the link in this email.</p>
    {% else %}
        <p>Remember to join us for <strong>{{ registration.event.name }}</strong>, we will send you the link for the webinar right before the event starts.</p>
    {% endif %}
    {% if registration.event.sessions.all|length == 1 %}
        <h5 style="margin-bottom: 8px;">Time: {{ registration.event.starts_at|date:"F j, Y H:i" }}{% if registration.event.starts_at != registration.event.ends_at %} - {% if registration.event.starts_at.date != registration.event.ends_at.date %}{{ registration.event.ends_at|date:"F j, Y H:i" }}{% else %}{{ registration.event.ends_at|date:"H:i" }}{% endif %}{% endif %}</h5>
    {% elif registration.event.sessions.all|length > 1 %}
        {% for session in registration.event.sessions.all %}
            <p style="margin-bottom: 2px;"><i>{{ session.name }}</i></p>
            <h5 style="margin-bottom: 8px;">{{ session.starts_at|date:"F j, Y H:i" }}{% if session.starts_at != session.ends_at %} - {% if session.starts_at.date != session.ends_at.date %}{{ session.ends_at|date:"F j, Y H:i" }}{% else %}{{ session.ends_at|date:"H:i" }}{% endif %}{% endif %}</h5>
        {% endfor %}
    {% endif %}
    {% if registration.event.location %}
        <h5 style="margin-top: 20px; margin-bottom: 8px;">Location: {{ registration.event.location }}</h5>
    {% endif %}
    {% if registration.event.external_url %}
        <h5 style="margin-top: 20px; margin-bottom: 8px;">Webinar URL: <a style="text-decoration: none !important; color: #3d5875 !important;" href="{% full_url "registration_url" registration.id %}" target="_blank">{% full_url "registration_url" registration.id %}</a></h5>
    {% endif %}
    <br>
    <img src="https://{{ app_domain }}{{ registration.event.picture.crop.1500x1000 }}" style="width: 100%; margin-bottom: 25px;">
{% endblock %}

{% block email_button %}
    {% if registration.event.external_url %}
        <table>
            <tr>
                <td align="center">
                    <p>
                        <a href="{% block email_button_url %}{% full_url "registration_url" registration.id %}{% endblock %}" class="email-button">{% block email_button_text %}Join the webinar{% endblock %}</a>
                    </p>
                </td>
            </tr>
        </table>
    {% endif %}
{% endblock %}
