{% extends "base.html" %}
{% load app_tags %}
{% load static %}

{% block head_title %}Events check-in{% endblock %}

{% block in_body %}
    <div class="container py-5">
        <div class="row d-none d-lg-block">
            <div class="col-md-12">
                <nav aria-label="breadcrumb">
                    <ol class="breadcrumb bg-transparent p-0 pb-2">
                        <li class="breadcrumb-item"><a class="link-unstyled" href="{% url 'app_home' %}">Home</a></li>
                        <li class="breadcrumb-item"><a class="link-unstyled" href="{% url 'events_events' %}">Events</a></li>
                        <li class="breadcrumb-item active" aria-current="page"><a class="link-unstyled"
                                                                                  href="{% url 'events_checkin_events' %}">Check-in</a>
                        </li>
                    </ol>
                </nav>
            </div>
        </div>
        <div class="row">
            <div class="col-md-12">
                <h1 class="section-title">Check-in</h1>
                <div class="row pl-4 pr-4 mb-3">
                    <div class="d-none d-md-flex col-md-5 col-lg-6">
                        <h6 class="mb-1 align-self-end">Event</h6>
                    </div>
                    <div class="col-4 col-md-2">
                        <h6 class="d-none d-lg-flex mb-0 ml-auto align-self-end">Pending</h6>
                        <small class="d-none d-lg-flex mb-0 ml-auto align-self-end">Students + Team</small>
                        <h6 class="d-block d-lg-none mb-0 text-center">Pend.</h6>
                    </div>
                    <div class="col-2 col-md-1 d-lg-flex">
                        <h6 class="d-none d-lg-flex mb-1 ml-auto align-self-end">Cancelled</h6>
                        <h6 class="d-block d-lg-none mb-0 text-center">Canc.</h6>
                    </div>
                    <div class="col-2 col-md-1 d-lg-flex">
                        <h6 class="d-none d-lg-flex mb-1 ml-auto align-self-end">Attended</h6>
                        <h6 class="d-block d-lg-none mb-0 text-center">Att.</h6>
                    </div>
                    <div class="col-4 col-md-3 col-lg-2 d-lg-flex">
                        <h6 class="d-none d-lg-flex mb-1 ml-auto align-self-end">Actions</h6>
                        <h6 class="d-block d-lg-none mb-0 text-center text-md-right">Act.</h6>
                    </div>
                </div>
                {% for event in events %}
                    <div class="row mb-3">
                        <div class="col-md-12">
                            <div class="card w-100 {% if not event.is_event_future %}bg-light-700{% endif %}">
                                <div class="card-body">
                                    <div class="row">
                                        <div class="col-12 col-md-5 col-lg-6">
                                            <h5 class="mb-3 mb-md-0 text-center text-md-left">{{ event.name }}</h5>
                                        </div>
                                        <div class="col-4 col-md-2 text-center text-lg-right">
                                            <span>{{ event.registrations_pending_students }} + {{ event.registrations_pending_us }} / {% if event.attendance_limit %}{{ event.attendance_limit }}{% else %}∞{% endif %}</span>
                                        </div>
                                        <div class="col-2 col-md-1 text-center text-lg-right">
                                            <span>{{ event.registrations_cancelled_all }}</span>
                                        </div>
                                        <div class="col-2 col-md-1 text-center text-lg-right">
                                            <span>{{ event.registrations_joined_all }}</span>
                                        </div>
                                        <div class="col-4 col-md-3 col-lg-2 text-center text-md-right">
                                            <a class="mb-0" href="{% url 'events_checkin_event' event.code %}">
                                                <button type="button" style="margin-top: -1em; margin-bottom: -1em;" class="btn {% if event.is_event_future %}btn-primary{% else %}btn-dark{% endif %} pl-3 pr-3">
                                                    <small>Check-in</small>
                                                </button>
                                            </a>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                {% endfor %}
        </div>
    </div>
{% endblock %}
