{% extends "base.html" %}
{% load app_tags %}
{% load static %}

{% block head_title %}QR registration for {{ event.name }}{% endblock %}

{% block page %}
    <div class="container py-5">
        <div class="row">
            <div class="d-none d-md-inline-block col-md-4"></div>
            <div class="col-12 col-md-4 text-center">
                <a href=""><img src="{% static 'img/logo_text.png' %}" class="logo w-50 mb-5" alt="KTH AI Society logo"></a>
                <h1 class="text-center mb-2">{{ event.name }}</h1>
                <p class="mb-0">{{ event.starts_at }}</p>
            </div>
            <div class="d-none d-md-inline-block col-md-4"></div>
            {% if qr %}
                <div class="col-12 mt-3">
                    <div class="w-100 ml-auto mr-auto text-center">
                        {{ qr|safe }}
                    </div>
                </div>
            {% else %}
                <h5 class="ml-auto mr-auto mt-5">EVENT NOT PUBLISHED</h5>
            {% endif %}
        </div>
    </div>
{% endblock %}
