{% extends "base.html" %}
{% load app_tags %}
{% load social_share %}
{% load static %}

{% block og %}
    <meta property="og:title" content="{{ event.name }} | {{ app_name }}" />
    <meta property="og:url" content="https://{{ app_domain }}{{ event.url }}" />
    <meta property="og:image" content="https://{{ app_domain }}{{ event.social.crop.1500x1000 }}" />
{% endblock %}

{% block head_title %}{{ event.name }}{% endblock %}

{% block body_pre_in %}
    <div class="row">
        <div class="col-md-12">
            <nav aria-label="breadcrumb">
                <ol class="breadcrumb bg-transparent p-0 pb-2">
                    <li class="breadcrumb-item"><a class="link-unstyled" href="{% url 'app_home' %}">Home</a></li>
                    <li class="breadcrumb-item"><a class="link-unstyled" href="{% url 'events_events' %}">Events</a></li>
                    <li class="breadcrumb-item active" aria-current="page"><a class="link-unstyled" href="{{ event.url }}">{{ event.name }}</a></li>
                </ol>
            </nav>
        </div>
    </div>
{% endblock %}

{% block in_in_body %}
    <div class="row">
        <div class="col-md-12 mb-3">
            <h1>{{ event.name }}</h1>
        </div>
    </div>
    <div class="row">
        <div class="col-md-12">
            <div class="jumbotron p-0 p-lg-5 text-white rounded bg-dark event-header" style="background-image: url('{{ event.picture.crop.1500x1000 }}');">
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-md-12 mb-0 text-center text-lg-left">
            {% include "include/share.html" with title=event.name url=event.url %}
            {% include "include/calendar.html" with url=event.ics_url %}
        </div>
    </div>
    {% if event.description %}
        <div class="row mt-2">
            <div class="col-md-12 mb-0">
                {{ event.description|apply_markup }}
            </div>
        </div>
    {% endif %}
    {% if event.social_url %}
        <div class="row">
            <div class="col-md-12 mb-4">
                <a class="mb-0" href="{{ event.social_url }}">
                    <button type="button" class="btn btn-facebook">
                        <i class="bi bi-facebook mr-1"></i> Facebook event
                    </button>
                </a>
            </div>
        </div>
    {% endif %}
    <div class="row">
        <div class="col-md-12 mb-3">
            {% if event.sessions.all|length == 1 %}
                {% with event.sessions.first as session %}
                    <h5 class="{% if registration and session.published_attachments_with_registration or not registration and session.published_attachments %}mb-1{% else %}mb-3{% endif %}">Time: {{ event.starts_at|date:"F j, Y H:i" }}{% if event.starts_at != event.ends_at %} - {% if event.starts_at.date != event.ends_at.date %}{{ event.ends_at|date:"F j, Y H:i" }}{% else %}{{ event.ends_at|date:"H:i" }}{% endif %}{% endif %}</h5>
                    {% if registration and session.published_attachments_with_registration or not registration and session.published_attachments %}
                        <div class="row mb-4">
                            {% for attachment in session.published_attachments_with_registration %}
                                {% if registration or not attachment.registration_required %}
                                    <div class="col-12 col-md-4 mb-0">
                                        <a class="link-unstyled" href="{{ attachment.url }}" target="_blank">
                                            <div class="card mt-4">
                                                <img class="card-img-top" src="{{ attachment.preview.crop.500x300 }}">
                                                <div class="card-body">
                                                    {% with attachment.type|event_attachment_type as type %}
                                                        <span class="badge badge-main p-2 d-inline-block mb-3 mb-md-2 mt-0">{{ type.name|title }}</span>
                                                    {% endwith %}
                                                    <h5 class="mb-1">{{ attachment.name }}</h5>
                                                </div>
                                            </div>
                                        </a>
                                    </div>
                                {% endif %}
                            {% endfor %}
                        </div>
                    {% endif %}
                {% endwith %}
            {% elif event.sessions.all|length > 1 %}
                {% for session in event.sessions.all %}
                    <p class="mb-1"><i>{{ session.name }}</i></p>
                    <h5 class="{% if registration and session.published_attachments_with_registration or not registration and session.published_attachments %}mb-1{% else %}mb-4{% endif %}">{{ session.starts_at|date:"F j, Y H:i" }}{% if session.starts_at != session.ends_at %} - {% if session.starts_at.date != session.ends_at.date %}{{ session.ends_at|date:"F j, Y H:i" }}{% else %}{{ session.ends_at|date:"H:i" }}{% endif %}{% endif %}</h5>
                    {% if registration and session.published_attachments_with_registration or not registration and session.published_attachments %}
                        <div class="row mb-4">
                            {% for attachment in session.published_attachments_with_registration %}
                                {% if registration or not attachment.registration_required %}
                                    <div class="col-12 col-md-4 mb-0">
                                        <a class="link-unstyled" href="{{ attachment.url }}" target="_blank">
                                            <div class="card mt-4">
                                                <img class="card-img-top" src="{{ attachment.preview.crop.500x300 }}">
                                                <div class="card-body">
                                                    {% with attachment.type|event_attachment_type as type %}
                                                        <span class="badge badge-main p-2 d-inline-block mb-3 mb-md-2 mt-0">{{ type.name|title }}</span>
                                                    {% endwith %}
                                                    <h5 class="mb-1">{{ attachment.name }}</h5>
                                                </div>
                                            </div>
                                        </a>
                                    </div>
                                {% endif %}
                            {% endfor %}
                        </div>
                    {% endif %}
                {% endfor %}
            {% endif %}
            {% if event.location %}
                <h5 class="mb-3">Location: <a class="link-unstyled" href="https://maps.google.com/maps?hl=en&amp;q={{ event.location }}">{{ event.location }}</a></h5>
            {% endif %}
            </div>
        {% if event.registration_available %}
            <div class="col-md-12">
                <div class="card mb-4">
                    <div class="card-body">
                        <h3 class="text-center text-md-left">Registration</h3>
                        {% if event.is_signup_open or registration %}
                            {% if request.user.is_authenticated or not event.account_required %}
                                {% if registration %}
                                    <p class="text-center text-md-left mb-0">Status:
                                        {% if registration.status == 1 or registration.status == 2 or registration.status == 5 or registration.status == 6 %}
                                            <span class="badge badge-main p-2 ml-1">Registered</span>
                                        {% else %}
                                            <span class="badge badge-main2 p-2 ml-1">Cancelled</span>
                                        {% endif %}
                                    </p>
                                    {% if event.type == 5 and registration.status == 2 or registration.status == 5 or registration.status == 6 and event.external_url %}
                                        <p class="text-center text-md-left mb-0 mt-1">Webinar link: <a href="{% full_url "registration_url" registration.id %}" class="link-colour">{% full_url "registration_url" registration.id %}</a></p>
                                    {% endif %}
                                    {% if not registration.status == 1 and not registration.status == 2 and not registration.status == 5 and not registration.status == 6 %}
                                        <p class="text-center text-md-left mb-0 mt-3">Ping us at <a href="mailto:{{ app_email_contact }}" class="link-colour">{{ app_email_contact }}</a> if you need help.</p>
                                    {% else %}
                                        <p class="text-center text-md-left mt-3 mb-2">Can't attend this event? Please, cancel your registration so someone else can fill your spot!</p>
                                        <form action="" method="post" class="form">
                                            {% csrf_token %}
                                            <button class="btn btn-main2" type="submit" name="submit" value="cancel">Cancel</button>
                                        </form>
                                    {% endif %}
                                {% elif request.user.is_authenticated %}
                                    <p class="text-center text-md-left mb-2">Do you want to register for this event?</p>
                                    <form action="" method="post" class="form">
                                        {% csrf_token %}
                                        <button class="btn btn-main" type="submit" name="submit" value="register">Register</button>
                                        <!-- <button class="btn btn-main2 ml-2" type="submit" name="submit" value="interest">I can't attend</button> -->
                                    </form>
                                {% else %}
                                    <p class="text-center text-md-left mb-2">Do you want to register for this event?</p>
                                    <form action="" method="post" class="form">
                                        {% csrf_token %}
                                         <div class="form-group">
                                            <label for="id_name">First name <small>(required)</small></label>
                                            <input type="text" name="name" maxlength="225" class="form-control" placeholder="Daniel" id="id_name" {% if form.first_name %}value="{{ form.first_name }}"{% elif request.user.name %}value="{{ request.user.name }}"{% endif %}>
                                        </div>
                                        <div class="form-group">
                                            <label for="id_surname">Last name <small>(required)</small></label>
                                            <input type="text" name="surname" maxlength="225" class="form-control" placeholder="Stenberg" id="id_surname" {% if form.last_name %}value="{{ form.last_name }}"{% elif request.user.surname %}value="{{ request.user.surname }}"{% endif %}>
                                        </div>
                                        <div class="form-group">
                                            <label for="id_email">Email <small>(required)</small></label>
                                            <input type="email" name="email" maxlength="225" class="form-control" placeholder="curl@kthais.com" id="id_email" {% if form.email %}value="{{ form.email }}"{% endif %}>
                                        </div>
                                        <div class="form-group mt-3">
                                            <input type="checkbox" name="terms" class="mr-1 form-check-inline" id="id_terms" required="">
                                            <label for="id_terms">I've read, understand and accept the <a href="{% url 'page_page' 'legal' 'terms-and-conditions' %}" class="link-colour" target="_blank">Terms & Conditions</a> and the <a href="{% url 'page_page' 'legal' 'privacy-and-cookies' %}" class="link-colour" target="_blank">Privacy and Cookies Policy</a>.</label>
                                        </div>
                                        <button class="btn btn-main" type="submit" name="submit" value="register">Register</button>
                                    </form>
                                {% endif %}
                            {% else %}
                                <p class="text-center text-md-left mb-0">You need to be logged-in to register to this event!</p>
                                <p class="text-center text-md-left"><small>You can login or register in a moment with your Google account or just using any other email.</small></p>
                                <a class="btn btn-main text-white" href="{% url "user_login" %}?next={{ event.url }}">Login</a>
                                <a class="btn btn-main2 text-white ml-2" href="{% url "user_register" %}?next={{ event.url }}">Register</a>
                            {% endif %}
                        {% else %}
                            <p class="text-center text-md-left mb-0">Sorry, registration closed! Ping us at <a href="mailto:{{ app_email_contact }}" class="link-colour">{{ app_email_contact }}</a> if you need help.</p>
                        {% endif %}
                    </div>
                </div>
            </div>
        {% endif %}
        <div class="col-md-12">
            {% if event.location %}
                <iframe width="100%" height="400" src="https://maps.google.com/maps?hl=en&amp;q={{ event.location }}&amp;ie=UTF8&amp;t=&amp;z=14&amp;iwloc=B&amp;output=embed" frameborder="0" scrolling="no" marginheight="0" marginwidth="0"></iframe>
            {% endif %}
        </div>
    </div>
{% endblock %}
