{% extends "base.html" %}
{% load app_tags %}
{% load social_share %}
{% load static %}

{% block og %}
    <meta property="og:title" content="{{ event.name }} | {{ app_name }}" />
    <meta property="og:url" content="https://{{ app_domain }}{{ event.url }}" />
    <meta property="og:image" content="https://{{ app_domain }}/files/{{ event.social }}" />
{% endblock %}

{% block head_title %}{{ event.name }}{% endblock %}

{% block in_post_header %}
    {% if not event.is_published %}
        <nav class="navbar navbar-expand-lg navbar-dark bg-light-900 text-black">
            <div class="container">
                <div class="row ml-auto mr-auto">
                    <div class="col-md-12">
                        <p class="navbar-nav mr-auto pt-2 pb-2">
                            This event is a DRAFT and it's not published, update its status to make it public.
                        </p>
                    </div>
                </div>
            </div>
        </nav>
    {% endif %}
{% endblock %}

{% block body_pre_in %}
    <div class="row d-none d-lg-block">
        <div class="col-md-12">
            <nav aria-label="breadcrumb">
                <ol class="breadcrumb bg-transparent p-0 pb-2">
                    <li class="breadcrumb-item"><a class="link-unstyled" href="{% url 'app_home' %}">Home</a></li>
                    <li class="breadcrumb-item"><a class="link-unstyled" href="{% url 'events_events' %}">Events</a></li>
                    <li class="breadcrumb-item active" aria-current="page"><a class="link-unstyled" href="{{ event.url }}">{{ event.name }}</a></li>
                </ol>
            </nav>
        </div>
    </div>
    <div class="row">
        <div class="col-md-12">
            <div class="jumbotron p-0 p-lg-5 text-white rounded bg-dark article-header carousel-darken" style="background-image: url('{{ event.picture.crop.1500x1000 }}');">
            </div>
        </div>
    </div>
{% endblock %}

{% block in_in_body %}
    <div class="row">
        <div class="col-md-12 mb-0">
            <h1 class="mb-3">{{ event.name }}</h1>
        </div>
    </div>
    <div class="row">
        <div class="col-md-12 mb-0">
            {% include "include/share.html" with title=event.name url=event.url %}
        </div>
    </div>
    {% if event.description %}
        <div class="row mt-1">
            <div class="col-md-12 mb-0">
                {{ event.description|apply_markup }}
            </div>
        </div>
    {% endif %}

    {% if event.registration_available %}
        <div class="row">
            <div class="col-md-12">
                <div class="card mb-4">
                    <div class="card-body">
                        <h4 class="card-title">📝 Registration</h4>
                        {% if event.is_signup_open or registration %}
                            {% include "include/registration.html" with late_registration=False %}
                        {% else %}
                            <p class="mb-1">
                                {% if event.signup_status == 1 %}
                                    Sorry, the event has already taken place!
                                {% elif event.signup_status == 2 %}
                                    Sorry, the event is full as we have reached the attendance limit!
                                {% elif event.signup_status == 4 %}
                                    Sorry, the signup hasn't open yet. Make sure to check out this page soon!
                                {% else %}
                                    Sorry, registration closed!
                                {% endif %}
                            </p>
                            <p class="mb-0">Ping us at <a href="mailto:{{ app_email_contact }}" class="link-colour">{{ app_email_contact }}</a> if you need help.</p>
                        {% endif %}
                    </div>
                </div>
            </div>
        </div>
    {% endif %}

    {% for session in event.sessions.all %}
        <div class="row">
            <div class="col-md-12 mb-4">
                {% if event.sessions.count > 1 %}
                    <h4 class="section-subtitle mb-3">{{ session.name }}</h4>
                {% endif %}
                <h5 class="mb-3">Time: {{ session.starts_at|date:"F j, Y H:i" }}{% if session.starts_at != session.ends_at %} - {% if session.starts_at.date != session.ends_at.date %}{{ session.ends_at|date:"F j, Y H:i" }}{% else %}{{ session.ends_at|date:"H:i" }}{% endif %}{% endif %}</h5>
                <div class="row event-calendar-buttons mb-0">
                    <div class="col-12 {% if event.social_url %}col-md-4{% else %}col-md-6{% endif %} pr-md-1 mb-2 mb-md-0">
                        <a class="mb-0" href="{{ event.ics_url }}">
                            <button type="button" class="btn btn-calendar w-100">
                                <i class="fas fa-calendar-alt mr-1"></i> Download ICS
                            </button>
                        </a>
                    </div>
                    <div class="col-12 {% if event.social_url %}col-md-4 pr-md-1{% else %}col-md-6{% endif %} pl-md-1 mb-2 mb-md-0">
                        <a class="mb-0" target="_blank" href="https://www.google.com/calendar/render?action=TEMPLATE&text={{ event.name|escape|google_title }}&details={{ event.description_paragraph|escape }}{% if registration %}<br><br><b>Registration</b><br>Status: {% if registration.status == 1 or registration.status == 2 or registration.status == 5 or registration.status == 6 %}Registered{% else %}Cancelled{% endif %}<br>Join: <a href='{% full_url "registration_url" registration.id %}'>{% full_url "registration_url" registration.id %}</a>{% endif %}{% if event.location %}&location={{ event.location|escape }}{% endif %}&dates={{ session.starts_at|date:"Ymd\THiO" }}%2F{{ session.ends_at|date:"Ymd\THiO" }}">
                            <button type="button" class="btn btn-google w-100">
                                <i class="bi bi-google mr-1"></i> Add to Google Calendar
                            </button>
                        </a>
                    </div>
                    {% if event.social_url %}
                        <div class="col-12 col-md-4 pl-md-1 mb-2 mb-md-0">
                            <a class="mb-0" target="_blank" href="{{ event.social_url }}">
                                <button type="button" class="btn btn-facebook w-100">
                                    <i class="bi bi-facebook mr-1"></i> Facebook event
                                </button>
                            </a>
                        </div>
                    {% endif %}
                </div>
                {% if session.roles.count > 0 %}
                    <div class="card mt-4 mb-0">
                        <div class="card-body">
                            {% if session.roles.count == 1 %}
                                <h4 class="card-title mb-4">📣 Speaker</h4>
                            {% else %}
                                <h4 class="card-title mb-4">📣 Speakers</h4>
                            {% endif %}
                            <div class="row">
                                {% for role in session.roles.all %}
                                    <div class="col-12 mt-0 mb-0">
                                        <div class="row">
                                            <div class="col-12 col-md-4 col-lg-3 text-center ml-auto mr-auto ml-md-0 mr-md-0 mt-0 mb-0">
                                                <a href="{% url "events_speaker" role.speaker.id %}" class="link-unstyled">
                                                    {% comment %}
                                                        <img src="{{ organiser.picture.url }}" class="ml-auto mr-auto">
                                                    {% endcomment %}
                                                    <div class="speaker-picture"><img alt="Speaker picture" src="{{ role.speaker.picture.crop.500x500 }}"></div>
                                                    <h6 class="mt-1 mb-0" {% if role.speaker.full_name|length > 15 %}style="font-size: 14px; padding-top: 1px; padding-bottom: 1px;"{% endif %}>{{ role.speaker.full_name }}</h6>
                                                </a>
                                                {% if role.speaker.city and role.speaker.country %}
                                                    <p class="mt-1 mb-0" style="line-height: 1;"><small>{{ role.speaker.city }}, {{ role.speaker.country }}</small></p>
                                                {% endif %}
                                                {% if role.speaker.linkedin_url %}
                                                    <a href="{{ role.speaker.linkedin_url }}" class="speaker-social-network link-unstyled" target="_blank">
                                                        <button type="button" class="btn btn-linkedin btn-sm mt-2">
                                                            <p class="mb-0">
                                                                <i class="fab fa-linkedin-in"></i>
                                                            </p>
                                                        </button>
                                                    </a>
                                                {% endif %}
                                                {% if role.speaker.twitter_url %}
                                                    <a href="{{ role.speaker.twitter_url }}" class="speaker-social-network link-unstyled" target="_blank">
                                                        <button type="button" class="btn btn-twitter btn-sm mt-2">
                                                            <p class="mb-0">
                                                                <i class="fab fa-twitter"></i>
                                                            </p>
                                                        </button>
                                                    </a>
                                                {% endif %}
                                                {% if role.speaker.scholar_url %}
                                                    <a href="{{ role.speaker.scholar_url }}" class="speaker-social-network link-unstyled" target="_blank">
                                                        <button type="button" class="btn btn-scholar btn-sm mt-2">
                                                            <p class="mb-0">
                                                                <i class="fas fa-graduation-cap"></i>
                                                            </p>
                                                        </button>
                                                    </a>
                                                {% endif %}
                                            </div>
                                            <div class="col-12 col-md-8 col-lg-9 ml-auto mr-auto pl-3 pl-lg-0 ml-md-0 mr-md-0 mt-3 mt-md-0 mb-0 text-center text-md-left">
                                                {% if role.speaker.description %}
                                                    {{ role.speaker.description|apply_markup }}
                                                {% endif %}
                                            </div>
                                        </div>
                                        {% if forloop.counter < session.roles.count %}
                                            <hr class="mb-4 mt-0 mt-md-4">
                                        {% endif %}
                                    </div>
                                {% endfor %}
                            </div>
                        </div>
                    </div>
                {% endif %}
                {% if registration and session.published_attachments_with_registration or not registration and session.published_attachments %}
                    <div class="card mt-4 mb-0">
                        <div class="card-body">
                            <h4 class="card-title">🗃️ Attachments</h4>
                            <div class="row">
                                {% for attachment in session.published_attachments_with_registration %}
                                    {% if registration or not attachment.registration_required %}
                                        <div class="col-12 col-md-4 mb-0">
                                            <a class="link-unstyled" href="{{ attachment.url }}" target="_blank">
                                                <div class="card mt-2">
                                                    <img class="card-img-top" src="{{ attachment.preview.crop.500x300 }}">
                                                    <div class="card-body">
                                                        {% with attachment.type|event_attachment_type as type %}
                                                            <span class="badge badge-primary p-2 d-inline-block mb-3 mb-md-2 mt-0">{{ type.name|title }}</span>
                                                        {% endwith %}
                                                        <h5 class="mb-1">{{ attachment.name }}</h5>
                                                    </div>
                                                </div>
                                            </a>
                                        </div>
                                    {% endif %}
                                {% endfor %}
                            </div>
                        </div>
                    </div>
                {% endif %}
                </div>
            </div>
    {% endfor %}

    <div class="row">
        <div class="col-md-12 mb-4">
            {% if event.location %}
                {% if event.room_and_location.0 %}
                    <h5 class="mb-2">Room: {{ event.room_and_location.0 }}</h5>
                {% endif %}
                <h5 class="mb-0">Location: <a class="link-unstyled" href="https://maps.google.com/maps?hl=en&amp;q={{ event.room_and_location.1 }}, {{ event.room_and_location.2 }}, {{ event.room_and_location.3 }}">{{ event.room_and_location.1 }}, {{ event.room_and_location.2 }}, {{ event.room_and_location.3 }}</a></h5>
            {% else %}
                {% if event.streaming_provider %}
                    <h5 class="mb-0">Location: {{ enums.event.streaming_provider|keyvalue:event.streaming_provider }} <img class="location-streaming-icon" src="{% static "img/external/" %}{{ event.streaming_provider.name|lower }}.png"></h5>
                {% else %}
                    <h5 class="mb-0">Location: ONLINE</h5>
                {% endif %}
            {% endif %}
        </div>
    </div>

    {% if event.location %}
        <div class="row">
            <div class="col-md-12">
                <iframe width="100%" height="400" src="https://maps.google.com/maps?hl=en&amp;q={{ event.room_and_location.1 }}, {{ event.room_and_location.2 }}, {{ event.room_and_location.3 }}&amp;ie=UTF8&amp;t=&amp;z=14&amp;iwloc=B&amp;output=embed" frameborder="0" scrolling="no" marginheight="0" marginwidth="0"></iframe>
            </div>
        </div>
    {% endif %}
{% endblock %}


{% block scripts %}
    {{ block.super }}
    <script>
        $("#id_diet_other").on('change', toggleOtherDiet);

        function toggleOtherDiet() {
            console.log("STUFF");
            if (document.getElementById('id_diet_other').checked) {
                $('.diet_other').show()
            } else {
                $('.diet_other').hide();
            }
        }

        window.addEventListener("load", toggleOtherDiet());
    </script>
{% endblock %}
