{% extends "base.html" %}
{% load app_tags event_tags %}
{% load social_share %}
{% load static %}
{% load bootstrap4 %}

{% block og %}
    <meta property="og:title" content="{{ session.event.name }} | {{ app_name }}" />
    <meta property="og:url" content="https://{{ app_domain }}{{ session.event.url }}/live" />
    <meta property="og:image" content="https://{{ app_domain }}{{ session.event.picture.url }}" />
{% endblock %}

{% block head_title %}{{ session.event.name }} live{% endblock %}

{% block in_pre_body %}
    <div class="row">
        <div class="col-md-12">
            <nav aria-label="breadcrumb">
                <ol class="breadcrumb bg-transparent p-0 pb-2">
                    <li class="breadcrumb-item"><a class="link-unstyled" href="{% url 'app_home' %}">Home</a></li>
                    <li class="breadcrumb-item"><a class="link-unstyled" href="{% url 'events_events' %}">Events</a></li>
                    <li class="breadcrumb-item"><a class="link-unstyled" href="{{ session.event.url }}">{{ session.event.name }}</a></li>
                    <li class="breadcrumb-item" aria-current="page"><a class="link-unstyled" href="{% url "events_live" session.event.code %}">Live</a></li>
                </ol>
            </nav>
        </div>
    </div>
{% endblock %}

{% block page %}
    <div class="container container-body">
        <div class="content">
            <div id="live-bar">
                <h3>Remaining time</h3>
                <h1 id="live-time">{% if now < starts_at %}{{ duration | timedelta_display }}{% elif now >= ends_at %}00:00:00{% else %}{{ ends_at | time_left | timedelta_display }}{% endif %}</h1>
            </div>
            <!-- TODO: Autoscroll -->
            <div class="container" id="live-schedule" style="position: absolute; top: 0; padding-top: 100px;">
                {% for schedule in schedules %}
                    <div id="schedule-item-{{ schedule.starts_at | date:"YmdH" }}" class="row {% if now >= schedule.starts_at and now < schedule.ends_at %}schedule-event-active {% elif now > schedule.ends_at %}schedule-event-passed {% endif %}schedule-event">
                        {% for schedule_item in schedule.schedules %}
                            <div class="col-md-12 col-lg-12 mb-12" style="margin: 0.5rem 0; min-height: 75px;">
                                <div class="schedule-event-time">
                                    <h3 style="margin-right: 4px;">{{ schedule_item.starts_at | display_clock }}</h3>
                                    <h4>{{ schedule_item.starts_at | date:"H:i" }}</h4>
                                    {% if schedule_item.ends_at %}
                                        <br>
                                        <h5>{{ schedule_item.ends_at | date:"H:i" }}</h5>
                                    {% endif %}
                                </div>
                                <div class="schedule-event-item">
                                    <h3>{{ schedule_item.type|schedule_emoji }} {{ schedule_item.name }}</h3>
                                    {% if schedule_item.place %}
                                        <p>📍 {{ schedule_item.place }}</p>
                                    {% endif %}
                                    {% if schedule_item.description %}
                                        <p>{{ schedule_item.description }}</p>
                                    {% endif %}
                                </div>
                            </div>
                        {% endfor %}
                    </div>
                {% endfor %}
            </div>
        </div>
    </div>

    <link rel="stylesheet" href="{% static 'css/live.css' %}">
    <script src="{% static "js/live.js" %}"></script>

     <script>
        var dateTo = new Date("{{ ends_at | date:"Y-m-d H:i:s" }}").getTime();
        var dateFrom = new Date("{{ starts_at | date:"Y-m-d H:i:s" }}").getTime();
        var eventDateFrom = new Date("{{ session.starts_at | date:"Y-m-d H:i:s" }}").getTime();
        var x = setInterval(function() {
            var today = new Date();
            var dd = String(today.getDate()).padStart(2, '0');
            var mm = String(today.getMonth() + 1).padStart(2, '0'); //January is 0!
            var yyyy = today.getFullYear();
            var hh = String(today.getHours()).padStart(2, '0');

            today = yyyy + mm + dd + hh;
            var currentId = "schedule-item-" + today;

            var currentActive = document.getElementsByClassName("schedule-event-active")[0];
            if (new Date().getTime() > eventDateFrom){
                if (currentActive === null || currentActive === undefined) {
                    /* TODO: Fix timezone */
                    var dateTo2 = new Date("{{ ends_at | date:"Y-m-d H:i:s" }}");
                    dateTo2.setTime(dateTo2.getTime() + 3600 * 1000);
                    var dd2 = String(dateTo2.getDate()).padStart(2, '0');
                    var mm2 = String(dateTo2.getMonth() + 1).padStart(2, '0'); //January is 0!
                    var yyyy2 = dateTo2.getFullYear();
                    var hh2 = String(dateTo2.getHours()).padStart(2, '0');

                    var today2 = yyyy2 + mm2 + dd2 + hh2;
                    currentId = "schedule-item-" + today2;
                    var currentActiveTmp = document.getElementById(currentId);
                    if (currentActiveTmp !== null && currentActiveTmp !== undefined) {
                        currentActive = currentActiveTmp;
                    }
                }
                else {
                    if (currentActive.id !== currentId) {
                        currentActive.classList.add("schedule-event-passed");
                    }
                    currentActive.classList.remove("schedule-event-active");
                    var current = document.getElementById(currentId);
                    if (current === null || current === undefined) {
                        if (currentActive === null || currentActive === undefined) {
                        } else {
                            current = currentActive;
                            currentId = currentActive.id;

                        }
                    }
                    document.getElementById(currentId).classList.add("schedule-event-active");
                    document.getElementById(currentId).classList.remove("schedule-event-passed");
                    var distanceTop = Math.abs(parseInt(current.getBoundingClientRect().top));
                    var currentDistanceTop = Math.abs(parseInt(document.getElementById("live-schedule").style.top));
                    var diff = 100;

                    var result,
                    el = document.body.appendChild(document.createElement("div")),
                    styleProp = 'margin-top',
                    style;
                    el.id = 'live-schedule';
                    style = el.currentStyle || window.getComputedStyle(el, null);
                    result = style[styleProp] || "unknown";
                    document.body.removeChild(el);

                    diff += parseInt(result);

                    if(distanceTop > diff) {
                        document.getElementById("live-schedule").style.top = (-(currentDistanceTop+distanceTop) + diff) + "px";
                    }
                }
            }

            var now = new Date().getTime();
            var distance = dateTo - now;

            var days = Math.floor(distance / (1000 * 60 * 60 * 24));
            var hours = Math.floor((distance % (1000 * 60 * 60 * 24)) / (1000 * 60 * 60));
            var minutes = Math.floor((distance % (1000 * 60 * 60)) / (1000 * 60));
            var seconds = Math.floor((distance % (1000 * 60)) / 1000);

            if (distance < 0) {
                clearInterval(x);
                document.getElementById("live-time").innerHTML = "00:00:00";
            }
            else if (now >= dateFrom) {
                document.getElementById("live-time").innerHTML = ("0" + (days * 24 + hours)).slice(-2) + ":" + ("0" + minutes).slice(-2) + ":" + ("0" + seconds).slice(-2);
            }
            else {
                document.getElementById("live-time").innerHTML = "{{ duration | timedelta_display }}";
            }
        }, 100);
    </script>
{% endblock %}
