@font-face {
    font-family: "Futura";
    src: url("/static/fonts/FuturaBook.woff") format('woff');
    font-weight: normal;
    font-style: normal;
}

body {
    background-color: #FDFDFD;
    padding: 0;
    height: 100%;
    width: 100%;
    font-family: 'Futura', sans-serif;
}

.bg-main {
    background-color: #3d5875;
}

.nav-link {
    padding: .5rem 1rem 1rem 1rem;
}

.carousel-darken {
    box-shadow: inset 0 -100000px 500px rgba(0, 0, 0, 0.25);
    -moz-box-shadow: inset 0 -100000px 500px rgba(0, 0, 0, 0.25);
    -webkit-box-shadow: inset 0 -100000px 500px rgba(0, 0, 0, 0.25);
    -o-box-shadow: inset 0 -100000px 500px rgba(0, 0, 0, 0.25);
}

.carousel-item {
    height: 100vh;
    min-height: 350px;
    background: no-repeat center center scroll;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    background-color: #3d5875;
}

.carousel-caption {
    padding-top: 96px;
}

.carousel-title {
    margin-bottom: 2rem;
}

.carousel-title-lg {
    font-size: 50px;
    margin-bottom: 2rem;
}

.carousel-body {
    margin-bottom: 0;
}

.carousel-body-lg {
    font-size: 18px;
    margin-bottom: 6rem;
}

/*
.home {
    color: #fff;
}

.home h1 {
    font-size: 48px;
    letter-spacing: 1rem;
    margin-bottom: 5rem;
    font-weight: 800;
}

.home p {
    font-size: 20px;
}

.home .logo {
    max-width: 200px;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 1rem;
}

.centered {
    padding-top: 4em;
    padding-bottom: 4em;
    top: 50%;
    transform: translateY(-50%);
    position: absolute;
    width: 100%;
}
*/
