@font-face {
    font-family: "Futura";
    src: url("/static/fonts/Futura-Book.woff") format("woff");
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: "Roboto Slab";
    src: url("/static/fonts/RobotoSlab-Regular.ttf");
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: "Roboto";
    src: url("/static/fonts/Roboto-Regular.ttf");
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: "Roboto";
    src: url("/static/fonts/Roboto-Light.ttf");
    font-weight: 300;
    font-style: normal;
}

@font-face {
    font-family: "Roboto";
    src: url("/static/fonts/Roboto-Bold.ttf");
    font-weight: 700;
    font-style: normal;
}

html {
    position: relative;
    min-height: 100%;
}

body {
    background-color: #FDFDFD;
    padding: 0 0 88px 0;
    height: 100%;
    width: 100%;
    font-family: "Roboto", sans-serif;
}

h1, h2, h3, h4, h5, h6 {
    font-family: "Futura", sans-serif;
    line-height: 1 !important;
    margin-bottom: 1.5rem;
}

a {
    color: #3d5875;
    text-decoration: none;
}

a:hover, a:active, a:visited {
    color: #3d5875;
    text-decoration: none;
}

.bg-main {
    background-color: #3d5875;
}

.bg-main2 {
    background-color: #73A2C6;
}

.bg-main-s1 {
    background-color: #506882;
}

.bg-main-s2 {
    background-color: #637990;
}

.bg-black {
    background-color: #263642;
}

.btn-outline-main {
    color: #3d5875;
    background-color: transparent;
    background-image: none;
    border-color: #3d5875;
}

.text-main {
    color: #3d5875;
}

.text-orange {
    color: #EC8C24;
}

.btn-main {
    color: #FFFFFF;
    background-color: #3d5875;
    border-color: #3d5875;
}

.btn-main2 {
    color: #FFFFFF;
    background-color: #73A2C6;
    border-color: #73A2C6;
}

.btn-twitter {
    color: #FFFFFF;
    background-color: #1da1f2;
    border-color: #1da1f2;
}

.btn-facebook {
    color: #FFFFFF;
    background-color: #3b5998;
    border-color: #3b5998;
}

.btn-linkedin {
    color: #FFFFFF;
    background-color: #007bb5;
    border-color: #007bb5;
}

.btn-reddit {
    color: #FFFFFF;
    background-color: #ff4500;
    border-color: #ff4500;
}

.btn-telegram {
    color: #FFFFFF;
    background-color: #0088cc;
    border-color: #0088cc;
}

.btn-whatsapp {
    color: #FFFFFF;
    background-color: #25d366;
    border-color: #25d366;
}

/* .nav-link {
    padding: .5rem 1rem 1rem 1rem;
} */

.navbar-top {
    color: rgba(255, 255, 255, 0.5);
    font-size: 12px;
    font-weight: 500;
}

.navbar-brand {
    padding-top: .1125rem;
}
.form-control:focus {
    box-shadow: none;
}

.btn:focus {
    box-shadow: none !important;
}

.btn-outline-success {
    color: #73A2C6;
    border-color: #73A2C6;
    box-shadow: none !important;
}

.btn-outline-success:hover, .btn-outline-success:active {
    color: #fff;
    background-color: #73A2C6 !important;
    border-color: #73A2C6 !important;
}

.btn-outline-success:focus {
    box-shadow: none;
}

.carousel-darken {
    box-shadow: inset 0 -100000px 500px rgba(0, 0, 0, 0.25);
    -moz-box-shadow: inset 0 -100000px 500px rgba(0, 0, 0, 0.25);
    -webkit-box-shadow: inset 0 -100000px 500px rgba(0, 0, 0, 0.25);
    -o-box-shadow: inset 0 -100000px 500px rgba(0, 0, 0, 0.25);
}

.carousel-item {
    height: 100vh;
    min-height: 350px;
    background: no-repeat center center scroll;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    background-color: #3d5875;
}

.carousel-caption {
    padding-top: 96px;
}

.carousel-title {
    margin-bottom: 2rem;
}

.carousel-title-lg {
    font-size: 50px;
    margin-bottom: 2rem;
}

.carousel-body {
    margin-bottom: 2rem;
}

.carousel-body-lg {
    font-size: 18px;
    margin-bottom: 2rem;
}

.carousel-button {
    margin-bottom: 0;
}

.carousel-button-lg {
    font-size: 18px;
    margin-bottom: 6rem;
}

/* .container-body {
    margin-top: 76px;
} */

.article-header {
    height: 650px;
}

.article-title {
    position: absolute;
    bottom: 70px;
}

.article-title-lg {
    position: absolute;
    bottom: 70px;
}

.line-max-2 {
    overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 2;
}

.card-text {
    line-height: 1.2;
}

.link-unstyled, .link-unstyled:visited, .link-unstyled:hover, .link-unstyled:active, .link-unstyled:focus, .link-unstyled:active:hover {
    font-style: inherit;
    color: inherit;
    background-color: transparent;
    font-size: inherit;
    text-decoration: none;
    font-variant: inherit;
    font-weight: inherit;
    line-height: inherit;
    font-family: inherit;
    border-radius: inherit;
    border: inherit;
    outline: inherit;
    box-shadow: inherit;
    vertical-align: inherit;
}

.link-main, .link-main:visited, .link-main:hover, .link-main:active, .link-main:focus, .link-main:active:hover {
    font-style: inherit;
    color: inherit;
    background-color: transparent;
    font-size: inherit;
    text-decoration: none;
    font-variant: inherit;
    font-weight: inherit;
    line-height: inherit;
    font-family: inherit;
    border-radius: inherit;
    border: inherit;
    outline: inherit;
    box-shadow: inherit;
    vertical-align: inherit;
}

.link-main {
    color: rgba(255, 255, 255, 0.5);
}

.link-main:visited, .link-main:hover, .link-main:active, .link-main:focus, .link-main:active:hover {
    color: rgba(255, 255, 255, 0.75);
}

.link-colour {
    color: #73A2C6;
    text-decoration: none;
}

.link-colour:hover, .link-colour:active, .link-colour:focus, .link-colour:active:hover {
    color: #3d5875;
    text-decoration: none;
}

.media-body-event {
    margin-top: -4px;
}

.event-header {
    height: 450px;
}

.home-organisers img {
    width: 75%;
    border-radius: 50%;
    margin-bottom: 1rem;
}

.footer {
    position: absolute;
    left: 0;
    bottom: 0;
    right: 0;
    width: 100%;
    overflow: hidden;
}

.badge-main {
    color: #fff;
    background-color: #3d5875;
}

.badge-main2 {
    color: #fff;
    background-color: #73A2C6;
}

.badge-main-s1 {
    color: #fff;
    background-color: #506882;
}

.badge-main-s2 {
    color: #fff;
    background-color: #637990;
}

.badge-black {
    color: #fff;
    background-color: #263642;
}

.image-radius {
    border-radius: 0.1rem;
}

.timeline {
  list-style: none;
  padding: 20px 0 20px;
  position: relative;
}
.timeline:before {
  top: 0;
  bottom: 0;
  position: absolute;
  content: " ";
  width: 3px;
  background-color: #eeeeee;
  left: 50%;
  margin-left: -1.5px;
}
.timeline > li {
  margin-bottom: 20px;
  position: relative;
}
.timeline > li:before,
.timeline > li:after {
  content: " ";
  display: table;
}
.timeline > li:after {
  clear: both;
}
.timeline > li:before,
.timeline > li:after {
  content: " ";
  display: table;
}
.timeline > li:after {
  clear: both;
}
.timeline > li > .timeline-panel {
  width: 50%;
  float: left;
  border: 1px solid #d4d4d4;
  border-radius: 2px;
  padding: 20px;
  position: relative;
}
.timeline > li.timeline-inverted + li:not(.timeline-inverted),
.timeline > li:not(.timeline-inverted) + li.timeline-inverted {
margin-top: -60px;
}

.timeline > li:not(.timeline-inverted) {
padding-right:90px;
}

.timeline > li.timeline-inverted {
padding-left:90px;
}
.timeline > li > .timeline-panel:before {
  position: absolute;
  top: 26px;
  right: -15px;
  display: inline-block;
  border-top: 15px solid transparent;
  border-left: 15px solid #ccc;
  border-right: 0 solid #ccc;
  border-bottom: 15px solid transparent;
  content: " ";
}
.timeline > li > .timeline-panel:after {
  position: absolute;
  top: 27px;
  right: -14px;
  display: inline-block;
  border-top: 14px solid transparent;
  border-left: 14px solid #fff;
  border-right: 0 solid #fff;
  border-bottom: 14px solid transparent;
  content: " ";
}
.timeline > li > .timeline-badge {
  color: #fff;
  width: 50px;
  height: 50px;
  line-height: 50px;
  font-size: 1.4em;
  text-align: center;
  position: absolute;
  top: 16px;
  left: 50%;
  margin-left: -25px;
  z-index: 100;
  border-top-right-radius: 50%;
  border-top-left-radius: 50%;
  border-bottom-right-radius: 50%;
  border-bottom-left-radius: 50%;
}
.timeline > li.timeline-inverted > .timeline-panel {
  float: right;
}
.timeline > li.timeline-inverted > .timeline-panel:before {
  border-left-width: 0;
  border-right-width: 15px;
  left: -15px;
  right: auto;
}
.timeline > li.timeline-inverted > .timeline-panel:after {
  border-left-width: 0;
  border-right-width: 14px;
  left: -14px;
  right: auto;
}
.timeline-badge.main {
  background-color: #2e6da4 !important;
}
.timeline-title {
  margin-top: 0;
  color: inherit;
}
.timeline-body > p,
.timeline-body > ul {
  margin-bottom: 0;
}
.timeline-body > p + p {
  margin-top: 5px;
}

.nav-link {
    padding: 0 !important;
    margin-left: 1rem;
}

.header-profile {
    height: 16px;
    margin-left: 0.5rem;
    border-radius: 8px;
}

/*
.home {
    color: #fff;
}

.home h1 {
    font-size: 48px;
    letter-spacing: 1rem;
    margin-bottom: 5rem;
    font-weight: 800;
}

.home p {
    font-size: 20px;
}

.home .logo {
    max-width: 200px;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 1rem;
}

.centered {
    padding-top: 4em;
    padding-bottom: 4em;
    top: 50%;
    transform: translateY(-50%);
    position: absolute;
    width: 100%;
}
*/
