{% extends "base.html" %}
{% load app_tags %}
{% load social_share %}
{% load static %}

{% block head_title %}Job board{% endblock %}

{% block in_body %}
    <div class="container container-body py-4 py-md-5">
        <div class="row d-none d-lg-block">
            <div class="col-md-12">
                <nav aria-label="breadcrumb">
                    <ol class="breadcrumb bg-transparent p-0 pb-2">
                        <li class="breadcrumb-item"><a class="link-unstyled" href="{% url 'app_home' %}">Home</a></li>
                        <li class="breadcrumb-item"><a class="link-unstyled" href="{% url 'business_jobs' %}">Job board</a></li>
                    </ol>
                </nav>
            </div>
        </div>
        <div class="row mb-4">
            <div class="col-md-12">
                <h1 class="section-title">Job board</h1>
                <p>We at KTH AI Society strive to bridge the gap between our members and the industry. It’s quite simple, companies working for the solutions of tomorrow need the talent of today. So below we listed all relevant work opportunities for you to take on new challenges.</p>
                <p>For more opportunities, visit our strategic partner, <a target="_blank" href="http://stockholm.ai/job-board/">Stockholm AI</a>.</p>
                <p>If you want to make a job posting contact us at {{ app_email_jobs |urlize }}.</p>
                <a class="link-unstyled mt-3 d-block" href="{% url 'business_jobs_faq' %}"><p class="mb-0"><strong>Any questions? Check out our FAQ <i class="fas fa-arrow-right ml-1"></i></strong></p></a>
            </div>
        </div>

        <div class='col-xs-3'>
            <a href="{% url 'business_jobs' %}" class="link-unstyle">
                <button type="button" class="btn btn-secondary rounded mt-1 {% if not type %}active{% endif %}">Show all</button>
            </a>

            {% for k,v in types.items %}
                <a class="link-unstyled" href="?type={{ k.value }}">
                    <button type="button" class="btn btn-secondary rounded mt-1 {% if type == k.value|stringformat:"i" %}active{% endif %}">{{ v }}</button>
                </a>
            {% endfor %}
        </div>

        {% if not type and not offers %}
                <hr>
                <p class="mt-4">There's no offers at the moment but make sure to check this page soon again!</p>
        {% elif not offers %}
                <hr>
                <p class="mt-4">For the selected category there are no offers at the moment, try and check out the others using the filters above.</p>
        {% endif %}

        {% for offer in offers %}
            {% include "include/offer.html" with offer=offer with_description=True %}
        {% endfor %}
    </div>
{% endblock %}
