{% extends "base.html" %}
{% load app_tags %}
{% load social_share %}
{% load static %}

{% block head_title %}Become a sponsor{% endblock %}

{% block in_body %}
    <div class="container container-body py-4 py-md-5">
        <div class="row">
            <div class="col-md-12">
                <h1 class="section-title">Become a sponsor</h1>
                <p>Thanks to our close cooperation with companies, we make sure to provide our members with company events and potential career opportunities. Since our main goal is to close the gap between students and companies in the AI space, we are always interested in partnering up with companies that are interested in KTH AI Society and our members.</p>
                <p>Our different sponsorship tiers are made to fit each company’s needs and provide marketing opportunities directed towards our members as well as events. For more information or to partner up with KTHAIS, please contact {{ app_email_business|urlize }}.</p>
            </div>
        </div>
        <hr>
        <div class="row">
            <div class="col-md-12 mt-3">
                <h2>Tiers</h2>
            </div>
        </div>
        {% for tier in tiers %}
            <div class="row">
                <div class="col-md-12 page-content">
                    <h3>{{ tier.name }}</h3>
                    {{ tier.description|apply_markup }}
                </div>
            </div>
        {% endfor %}
    </div>
{% endblock %}
