{% extends "base.html" %}
{% load app_tags %}
{% load static %}
{% load bootstrap4 %}

{% block og %}
    <meta property="og:title" content="{{ article.title }} | {{ app_name }}" />
    <meta property="og:url" content="https://{{ app_domain }}{{ article.url }}" />
    <meta property="og:image" content="https://{{ app_domain }}{{ article.picture.url }}" />
{% endblock %}

{% block head_title %}{{ article.title }}{% endblock %}

{% block in_pre_body %}
    <div class="row">
        <div class="col-md-12">
            <nav aria-label="breadcrumb">
                <ol class="breadcrumb bg-transparent p-0 pb-2">
                    <li class="breadcrumb-item"><a class="link-unstyled" href="{% url 'app_home' %}">Home</a></li>
                    <li class="breadcrumb-item"><a class="link-unstyled" href="{% url 'news_articles' %}">News</a></li>
                    <li class="breadcrumb-item active" aria-current="page"><a class="link-unstyled" href="{{ article.url }}">{{ article.title }}</a></li>
                </ol>
            </nav>
        </div>
    </div>
    <div class="row">
        <div class="col-md-12">
            <div class="jumbotron p-0 p-lg-5 text-white rounded bg-dark article-header carousel-darken" style="background-image: url('{{ article.picture.url }}'); background-size: cover;">
                <!-- Desktop version -->
                <div class="col-md-8 px-0 article-title-lg d-none d-lg-block d-xl-block">
                    <h1 class="display-4">{{ article.title }}</h1>
                    {% if article.subtitle %}
                        <h3>{{ article.subtitle }}</h3>
                    {% endif %}
                    <p class="lead my-2">{{ article.created_at|date:"F j, Y" }}</p>
                </div>
                <!-- Mobile version -->
                <div class="article-title px-0 text-center d-block d-lg-none d-xl-none">
                    <h1 class="display-4">{{ article.title }}</h1>
                    {% if article.subtitle %}
                        <h3 class="display-4">{{ article.subtitle }}</h3>
                    {% endif %}
                    <p class="lead my-2">{{ article.created_at|date:"F j, Y" }}</p>
                </div>
            </div>
        </div>
    </div>
{% endblock %}

{% block in_in_body %}
    <div class="row">
        <div class="col-md-12 mb-3 text-center text-lg-left">
            {% include "include/share.html" with title=article.title url=article.url %}
        </div>
    </div>
    <div class="row mt-2">
        <div class="col-md-12">
            {{ article.body|apply_markup }}
        </div>
    </div>
{% endblock %}
