{% load i18n %}

<div id="CookielawBanner">
    <div class="container">
        <div class="row">
            <div class="col-md-10">
                <!-- TODO: Add cookies page -->
                <p>This website uses cookies to improve your browsing experience and show you personalized content. If you continue browsing, we understand that you accept their use.</p>
            </div>
            <div class="col-md-2">
                <a class="button4" href="javascript:Cookielaw.createCookielawCookie();">{% trans "COOKIE_INFO_OK" %}</a>
            </div>
        </div>
    </div>
</div>