{% extends "base.html" %}
{% load app_tags %}
{% load static %}

{% block head_title %}Social{% endblock %}

{% block in_body %}
    <!-- TODO: reposition containers and make events page only if it's a future one -->
    {% for event in events %}
        {% if event.is_event_future %}
            <span class="badge badge-primary p-2 mb-3 ml-auto mr-auto d-table mt-4 d-md-inline-block mt-md-0">Upcoming event</span>
        {% endif %}
    {% endfor %}

    <div class="container py-5">
        <div class="row d-none d-lg-block">
            <div class="col-md-12">
                <nav aria-label="breadcrumb">
                    <ol class="breadcrumb bg-transparent p-0 pb-2">
                        <li class="breadcrumb-item"><a class="link-unstyled" href="{% url 'app_home' %}">Home</a></li>
                        <li class="breadcrumb-item active" aria-current="page"><a class="link-unstyled"
                                                                                  href="{% url 'app_about_social' %}">Social</a>
                        </li>
                    </ol>
                </nav>
            </div>
        </div>
        <div class="row">
            <div class="col-md-12">
                <h1 class="section-title">Social</h1>
            </div>
        </div>
        <div class="row">
            <h3 class="section-title">Latest Articles</h3>
        </div>
        <div class="row">
            {% for article in articles %}
                <div class="col-md-6">
                    <a class="link-unstyled" href="{{ article.url }}">
                        <h2 class="text-center text-md-left text-main mb-4">{{ article.title }}</h2>
                        <a class="link-unstyled" href="{{ article.url }}">
                            <div class="w-100 image-radius"
                                 style="height: 250px; filter: grayscale(10%); -webkit-filter: grayscale(10%); background-image: linear-gradient(to bottom, rgba(61,88,117,0.1) 0%, rgba(61,88,117,0.1) 100%), url('{{ article.picture.crop.1500x1000 }}'); background-position: center center; background-size: cover;"></div>
                        </a>
                        <p class="text-center text-md-left mb-0">{{ article.description_short }}</p>
                    </a>
                </div>
            {% endfor %}

        </div>
        <div class="container py-5">
            <div class="row">
                <h3 class="section-title">Social media links</h3>
            </div>
            <div class="row">
                {% if app_sn_facebook %}
                    <li class="nav-item d-inline-flex">
                        <a class="btn btn-social-icon btn-facebook btn-lg"
                           href="https://www.facebook.com/{{ app_sn_facebook }}"
                           target="_blank">
                            <i class="fab fa-facebook"></i>
                        </a>
                    </li>
                {% endif %}
                {% if app_sn_twitter %}
                    <li class="nav-item d-inline-flex">
                        <a class="btn btn-social-icon btn-twitter btn-lg"
                           href="https://twitter.com/{{ app_sn_twitter }}"
                           target="_blank">
                            <i class="fab fa-twitter"></i>
                        </a>
                    </li>
                {% endif %}
                {% if app_sn_instagram %}
                    <li class="nav-item d-inline-flex">
                        <a class="btn btn-social-icon btn-instagram btn-lg"
                           href="https://www.instagram.com/{{ app_sn_instagram }}"
                           target="_blank">
                            <i class="fab fa-instagram"></i>
                        </a>
                    </li>
                {% endif %}
                {% if app_sn_youtube %}
                    <li class="nav-item d-inline-flex">
                        <a class="btn btn-social-icon btn-youtube btn-lg"
                           href="https://www.youtube.com/channel/{{ app_sn_youtube }}"
                           target="_blank">
                            <i class="fab fa-youtube"></i>
                        </a>
                    </li>
                {% endif %}
                {% if app_sn_linkedin %}
                    <li class="nav-item d-inline-flex">
                        <a class="btn btn-social-icon btn-linkedin btn-lg"
                           href="https://www.linkedin.com/company/{{ app_sn_linkedin }}"
                           target="_blank">
                            <i class="fab fa-linkedin"></i>
                        </a>
                    </li>
                {% endif %}
                {% if app_sn_medium %}
                    <li class="nav-item d-inline-flex">
                        <a class="btn btn-social-icon btn-medium btn-lg" href="https://medium.com/@{{ app_sn_medium }}"
                           target="_blank">
                            <i class="fab fa-medium"></i>
                        </a>
                    </li>
                {% endif %}
                {% if app_sn_github %}
                    <li class="nav-item d-inline-flex">
                        <a class="btn btn-social-icon btn-github btn-lg" href="https://github.com/{{ app_sn_github }}"
                           target="_blank">
                            <i class="fab fa-github"></i>
                        </a>
                    </li>
                {% endif %}

            </div>
        </div>
    </div>


{% endblock %}