{% load static %}
{% load app_tags %}
{% load compress %}

<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="theme-color" content="#000000">
        <meta name="author" content="{{ app_name }}">
        <meta name="description" content="{{ app_description }}">
        <link rel="icon" href="{% static 'favicon.png' %}" type="image/png">
        {% block og %}
            <meta property="og:title" content="{{ app_name }}" />
            <meta property="og:url" content="https://{{ app_domain }}" />
            <meta property="og:image" content="https://{{ app_domain }}{% static "img/preview.png" %}" />
        {% endblock %}
        <!-- TODO: Add social network URLs and information -->
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
        {% compress css %}
            <link type="text/x-scss" href="{% static 'scss/theme.scss' %}" rel="stylesheet" media="screen">
        {% endcompress %}
        <script src="{% static 'fontawesome_free/js/all.min.js' %}"></script>
        <link rel="stylesheet" href="{% static 'css/icons.css' %}">
        <link rel="preconnect" href="https://fonts.gstatic.com">
        <link href="https://fonts.googleapis.com/css2?family=Karla:ital,wght@0,200;0,400;0,500;0,700;1,200;1,400;1,500;1,700&display=swap" rel="stylesheet">

        <script src="{% static 'js/plotly-latest.min.js' %}"></script>

        {% include "include/google.html" %}

        {% block head %}
        {% endblock %}

        <title>{% block title_plain %}{% block title %}{% block head_title %}{% endblock %} | {% endblock %}{{ app_name }}{% endblock %}</title>
    </head>
    <body>
        {% include "include/google_body.html" %}
        {% block page %}
            {% block header %}
                {% block in_pre_header %}
                    {% if not maintenance_mode %}
                        <nav class="navbar-top navbar navbar-expand-lg navbar-dark bg-dark pt-2 pb-2">
                            <div class="container">
                                {% if request.user.is_authenticated and request.user.profile_picture.crop.50x50 %}
                                    <img class="profile-picture-nav d-none d-md-flex" alt="Profile picture" src="{{ request.user.profile_picture.crop.50x50 }}">
                                {% endif %}
                                <p class="navbar-nav mr-auto d-none d-md-flex">
                                    {% if request.user.is_authenticated %}
                                        <a class="link-main" href="{% url 'user_dashboard' %}">Welcome, {{ request.user.name }}!</a>
                                    {% else %}
                                        Welcome to KTH AI Society website!
                                    {% endif %}
                                </p>
                                <ul class="navbar-top-menu navbar-nav ml-auto mr-auto ml-md-auto mr-md-0">
                                    <li class="nav-item">
                                        {% if request.user.is_authenticated %}
                                            {% if request.user.email_verified and request.user.is_admin %}
                                                <span class="ml-2"><a class="link-main" href="{% url 'admin:index' %}">Admin</a></span>
                                            {% endif %}
                                            {% if request.user.email_verified and request.user.is_staff %}
                                                <span class="ml-2"><a class="link-main" href="{% url 'app_statistics' %}">Statistics</a></span>
                                                <span class="ml-2"><a class="link-main" href="{% url 'events_checkin_events' %}">Check-in</a></span>
                                            {% endif %}
                                            <span class="ml-2"><a class="link-main" href="{% url 'user_dashboard' %}">Dashboard</a></span>
                                            <span class="ml-2"><a class="link-main" href="{% url 'user_logout' %}">Logout</a></span>
                                        {% else %}
                                            <span class="ml-2"><a class="link-main" href="{% url 'user_login' %}">Login</a></span>
                                            <span class="ml-2"><a class="link-main" href="{% url 'user_register' %}">Register</a></span>
                                        {% endif %}
                                    </li>
                                </ul>
                            </div>
                        </nav>
                    {% endif %}
                {% endblock %}
                <nav class="navbar navbar-expand-lg navbar-dark bg-dark-700 pt-3 pb-3">
                    <div class="container">
                        <a class="navbar-brand" href="{% url 'app_home' %}">
                            <img src="{% static 'img/logo_text_white.png' %}" width="128" height="24" alt="KTHAIS">
                        </a>
                        {% if not maintenance_mode %}
                            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                                <span class="navbar-toggler-icon"></span>
                            </button>
                            <div class="collapse navbar-collapse" id="navbarSupportedContent">
                                <ul class="navbar-nav ml-auto mr-0">
                                    <li class="nav-item {% if request.resolver_match.url_name == "app_home" %}active{% endif %}">
                                        <a class="nav-link" href="{% url 'app_home' %}">Home</a>
                                    </li>
                                    {% for category, pages in categories.items %}
                                        <li class="nav-item dropdown">
                                            <a class="nav-link dropdown-toggle" href="#" id="dropdown-{{ category.code }}" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                                {{ category.title }}
                                            </a>
                                            <div class="dropdown-menu" aria-labelledby="dropdown-{{ category.code }}">
                                                {% for page in pages %}
                                                    <a class="dropdown-item" href="{{ page.url }}">{{ page.title }}</a>
                                                {% endfor %}
                                            </div>
                                        </li>
                                    {% endfor %}
                                    <li class="nav-item {% if request.resolver_match.url_name == "news_articles" %}active{% endif %}">
                                        <a class="nav-link" href="{% url 'news_articles' %}">News</a>
                                    </li>
                                    <li class="nav-item {% if request.resolver_match.url_name == "events_events" %}active{% endif %}">
                                        <a class="nav-link" href="{% url 'events_events' %}">Events</a>
                                    </li>
                                    <li class="nav-item {% if request.resolver_match.url_name == "events_speakers" %}active{% endif %}">
                                        <a class="nav-link" href="{% url 'events_speakers' %}">Speakers</a>
                                    </li>
                                    <li class="nav-item {% if request.resolver_match.url_name == "business_jobs" %}active{% endif %}">
                                        <a class="nav-link" href="{% url 'business_jobs' %}">Job board</a>
                                    </li>
                                    <li class="nav-item dropdown">
                                        <a class="nav-link dropdown-toggle" href="#" id="dropdown-about" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                            About
                                        </a>
                                        <div class="dropdown-menu" aria-labelledby="dropdown-about">
                                            <a class="dropdown-item" href="{% url 'app_about_contact' %}">Contact</a>
                                            <a class="dropdown-item" href="{% url 'app_about_team' %}">Team</a>
                                        </div>
                                    </li>
                                    <li class="nav-item d-inline-block d-md-none {% if request.resolver_match.url_name == "business_sponsor" %}active{% endif %}">
                                        <a class="nav-link" href="{% url 'business_sponsor' %}">Sponsor</a>
                                    </li>
                                </ul>
                                <a class="mb-0 ml-3 d-none d-lg-inline-block" href="{% url 'business_sponsor' %}">
                                    <button type="button" class="btn btn-light">
                                        Sponsor
                                    </button>
                                </a>
                                {% comment %}
                                    <a class="mb-0 ml-3 d-none d-lg-inline-block" href="{{ app_full_domain }}/apply">
                                        <button type="button" class="btn btn-light">
                                            Apply now
                                        </button>
                                    </a>
                                    <form class="form-inline">
                                        <input class="form-control mr-sm-2" type="search" placeholder="Search" aria-label="Search">
                                        <button class="btn btn-outline-success my-2 my-sm-0" type="submit"><i class="fas fa-search"></i></button>
                                    </form>
                                 {% endcomment %}
                            </div>
                        {% endif %}
                    </div>
                </nav>
                {% if messages %}
                    <nav class="navbar-top navbar navbar-expand-lg navbar-light bg-primary-100 text-white">
                        <div class="container">
                            <div class="row">
                                {% for message in messages %}
                                    <div class="col-md-12">
                                        <p class="navbar-nav mr-auto pt-2 pb-2">
                                            {% if message.level == DEFAULT_MESSAGE_LEVELS.ERROR %}
                                                <i class="fas fa-exclamation-circle mr-2" style="font-size: 16px;"></i>
                                            {% elif message.level == DEFAULT_MESSAGE_LEVELS.WARNING %}
                                                <i class="fas fa-exclamation-circle mr-2" style="font-size: 16px;"></i>
                                            {% elif message.level == DEFAULT_MESSAGE_LEVELS.SUCCESS %}
                                                <i class="fas fa-check-circle mr-2" style="font-size: 16px;"></i>
                                            {% elif message.level == DEFAULT_MESSAGE_LEVELS.INFO %}
                                                <i class="fas fa-info-circle mr-2" style="font-size: 16px;"></i>
                                            {% elif message.level == DEFAULT_MESSAGE_LEVELS.DEBUG %}
                                                <i class="fas fa-question-circle mr-2" style="font-size: 16px;"></i>
                                            {% endif %}
                                            {{ message }}
                                        </p>
                                    </div>
                                {% endfor %}
                            </div>
                        </div>
                    </nav>
                {% endif %}
            {% endblock %}
            {% block body %}
                {% block body_pre %}
                {% endblock %}
                {% block in_body %}
                    <div class="container container-body py-4 py-md-5">
                        {% block body_pre_in %}
                        {% endblock %}
                        <div class="row">
                            <div class="col-md-8">
                                {% block in_in_body %}
                                {% endblock %}
                            </div>
                            <div class="col-md-4 d-none d-md-block pl-4">
                                {% block sidebar %}
                                    {% with current_app=request.path|extract_app current_slug=request.path|extract_slug %}
                                        {% if request.user.is_authenticated %}
                                            {% if request.user.social_urls_count <= 2 %}
                                                <div class="card text-white bg-primary mb-4">
                                                    <div class="card-body">
                                                        <h5 class="card-title text-white icon-white">Missing social media 🔗?</h5>
                                                        <p class="card-text">Do you have LinkedIn, GitHub or even Google Scholar? Go to dashboard and make sure you have added all your links!</p>
                                                    </div>
                                                    <a href="{% url "user_dashboard" %}#social" class="link-unstyle">
                                                        <div class="card-footer text-white">Add them here <i class="fas fa-arrow-right ml-1"></i></div>
                                                    </a>
                                                </div>
                                            {% endif %}
                                            {% if not request.user.slack_user.token %}
                                                <div class="card text-white bg-primary mb-4">
                                                    <div class="card-body">
                                                        <h5 class="card-title text-white icon-white">Authorize Slack <img alt="Slack icon" class="inline-icon-h5 icon-white" src="{{ app_full_domain }}{% static "img/slack.png" %}">?</h5>
                                                        <p class="card-text">If you want to get the most out of KTH AI Society you can authorise Slack!</p>
                                                    </div>
                                                    <a href="{% url "user_dashboard" %}#social" class="link-unstyle">
                                                        <div class="card-footer text-white">Connect now <i class="fas fa-arrow-right ml-1"></i></div>
                                                    </a>
                                                </div>
                                            {% endif %}
                                        {% else %}
                                            <div class="card text-white bg-primary mb-4">
                                                <div class="card-body">
                                                    <h5 class="card-title text-white">Become a member</h5>
                                                    <p class="card-text">Join the KTH AI Society and gain access to Slack <img alt="Slack icon" class="inline-icon icon-white" src="{{ app_full_domain }}{% static "img/slack.png" %}"> where you can communicate with others interested in the same field as you and get a quick insight on the organization!</p>
                                                </div>
                                                <a href="{% url "user_register" %}" class="link-unstyle">
                                                    <div class="card-footer text-white">Register here <i class="fas fa-arrow-right ml-1"></i></div>
                                                </a>
                                            </div>
                                        {% endif %}
                                        {% if events %}
                                            {% if events|length == 1 and current_app == "events" and events.0.code == current_slug %}
                                            {% else %}
                                                <div class="row mb-3">
                                                    <div class="col-md-12">
                                                        <h4 class="section-title mb-4">Latest events</h4>
                                                        {% for event in events %}
                                                            {% if event.code != current_slug and forloop.counter0 < 3 %}
                                                                <a class="link-unstyled" href="{{ event.url }}">
                                                                    <div class="media">
                                                                        <img class="mr-2 rounded" style="width: 32px; height: 32px;" src="{{ event.picture.crop.150x150 }}" data-holder-rendered="true">
                                                                        <p class="media-body media-body-event pb-3 mb-0 pt-0 small lh-125">
                                                                            <strong class="d-block">{{ event.name }}</strong>
                                                                            {{ event.starts_at|date:"F j, Y" }}{% if event.location %} / {{ event.location }}{% endif %}
                                                                        </p>
                                                                    </div>
                                                                </a>
                                                            {% endif %}
                                                        {% endfor %}
                                                    </div>
                                                </div>
                                            {% endif %}
                                        {% endif %}
                                        {% if articles %}
                                            {% if articles|length == 1 and current_app == "news" and articles.0.code == current_slug %}
                                            {% else %}
                                                <div class="row mb-3">
                                                    <div class="col-md-12">
                                                        <h4 class="section-title mb-4">Latest news</h4>
                                                        {% for article in articles %}
                                                            {% if article.slug != current_slug and forloop.counter0 < 3 %}
                                                                <a class="link-unstyled" href="{{ article.url }}">
                                                                    <div class="card mt-4">
                                                                        <img class="card-img-top rounded-0" src="{{ article.picture.crop.500x300 }}">
                                                                        <div class="card-body">
                                                                            <h5 class="mb-2" style="line-height: 1.5rem !important;">{% if article.type == 1 %}<i class="fab fa-medium mr-1"></i> {% endif %}{{ article.title }}</h5>
                                                                            {% if article.authors %}
                                                                                <div class="mb-2">
                                                                                    {% for author in article.authors.all %}
                                                                                        <div class="d-inline-block mr-2">
                                                                                            <img class="author-picture-nav d-inline-block" alt="{{ author.user.full_name }} picture" src="{{ author.user.profile_picture.crop.50x50 }}">
                                                                                            <p class="navbar-nav d-inline-block">{% if author.user.website %}<a href="{{ author.user.website }}" target="_blank" class="link-unstyled">{{ author.user.full_name }}</a>{% else %}{{ author.user.full_name }}{% endif %}</p>
                                                                                        </div>
                                                                                    {% endfor %}
                                                                                </div>
                                                                            {% endif %}
                                                                            <p class="card-text">{{ article.body_plaintext|shorten:10 }}</p>
                                                                        </div>
                                                                    </div>
                                                                </a>
                                                            {% endif %}
                                                        {% endfor %}
                                                    </div>
                                                </div>
                                            {% endif %}
                                        {% endif %}
                                    {% endwith %}
                                {% endblock %}
                            </div>
                        </div>
                        {% block in_post_body %}
                        {% endblock %}
                    </div>
                {% endblock %}
                {% block post_body %}
                {% endblock %}
            {% endblock %}
            {% block footer %}
                <nav class="footer navbar navbar-expand-lg navbar-dark bg-dark pt-3 pb-3">
                    <!-- Desktop -->
                    <div class="container text-white d-none d-lg-flex">
                        <ul class="navbar-nav mr-auto mb-2">
                            <li class="nav-item">
                                <small class="mb-0">Need help? Ping us at <a href="mailto:{{ app_email_contact }}" class="link-main">{{ app_email_contact }}</a>.</small>
                                <br>
                                <small><a href="{% url 'app_about_contact' %}" class="link-main">Contact</a></small>
                                <small class="ml-2"><a href="{% url 'page_page' 'legal' 'legal-notice' %}" class="link-main">Legal notice</a></small>
                                <small class="ml-2"><a href="{% url 'page_page' 'legal' 'terms-and-conditions' %}" class="link-main">Terms and Conditions</a></small>
                                <small class="ml-2"><a href="{% url 'page_page' 'legal' 'privacy-and-cookies' %}" class="link-main">Privacy and Cookies</a></small>
                            </li>
                        </ul>
                        <ul class="navbar-nav ml-auto">
                            {% include "include/social.html" %}
                        </ul>
                    </div>
                    <!-- Mobile -->
                    <div class="container text-white d-block d-lg-none">
                        <ul class="navbar-nav text-center mb-2">
                            <li class="nav-item">
                                <small class="mb-0">Need help? Ping us at <a href="mailto:{{ app_email_contact }}" class="link-main">{{ app_email_contact }}</a>.</small>
                                <br>
                                <small><a href="{% url 'app_about_contact' %}" class="link-main">Contact</a></small>
                                <small class="ml-2"><a href="{% url 'page_page' 'legal' 'legal-notice' %}" class="link-main">Legal notice</a></small>
                                <small class="ml-2"><a href="{% url 'page_page' 'legal' 'terms-and-conditions' %}" class="link-main">Terms and Conditions</a></small>
                                <small class="ml-2"><a href="{% url 'page_page' 'legal' 'privacy-and-cookies' %}" class="link-main">Privacy and Cookies</a></small>
                            </li>
                        </ul>
                        <ul class="navbar-nav ml-auto d-block text-center">
                            {% include "include/social.html" %}
                        </ul>
                    </div>
                </nav>
            {% endblock %}
        {% endblock %}

        <script src="{% static 'js/jquery.js' %}"></script>
        <script src="{% static 'js/popper.js' %}"></script>
        <script src="{% static 'js/bootstrap.js' %}"></script>

        {% block scripts %}
        {% endblock %}
    </body>
</html>
