{% extends "base.html" %}
{% load static %}

{% block head_title %}Coming soon{% endblock %}

{% block pre_body %}
    <header class="centered home">
        <div class="container">
            <div class="row">
                <div class="col-sm-3">
                </div>
                <div class="col-sm-6" style="text-align: center;">
                    <a href=""><img src="{% static "img/logo.png" %}" class="logo" alt="KTH AI Society logo"></a>
                </div>
                <div class="col-sm-3">
                </div>
            </div>
            <div class="row">
                <div class="col-sm-3">
                </div>
                <div class="col-sm-6">
                    <h1 class="white bold text-center">KTHAIS</h1>
                    <p class="white paragraph text-center">COMING SOON</p>
                </div>
            </div>
        </div>
    </header>
{% endblock %}
