{% extends "base.html" %}
{% load social_share %}
{% load static %}

{% block title_plain %}{{ app_name }}{% endblock %}

{% block pre_body %}
    {% if articles %}
        <div class="jumbotron jumbotron-fluid d-flex mb-0" style="background-image: linear-gradient(to bottom, rgba(38,54,66,0.6) 0%,rgba(38,54,66,0.6) 100%), url('{{ articles.0.picture.url }}'); background-size: cover; background-position: center center; min-height: 550px;">
            <div class="container my-auto text-center text-lg-left">
                <h1 class="d-none d-md-block display-4 mb-5 mb-lg-4 text-white">{{ articles.0.title }}</h1>
                <h1 class="d-block d-md-none mb-5 mb-lg-4 text-white">{{ articles.0.title }}</h1>
                <p class="lead text-white">{{ articles.0.lead }}</p>
                <a class="link-unstyled" href="{% url "news_article" articles.0.created_at.year articles.0.created_at.month articles.0.created_at.day articles.0.slug %}">
                    <button type="button" class="btn btn-main mb-2">Read more</button>
                </a>
            </div>
        </div>
    {% endif %}
    {% comment %}
        {% if articles %}
            <div class="container-fluid px-0">
                <div id="news-carousel" class="carousel slide" data-ride="carousel">
                    <ol class="carousel-indicators">
                        {% for article in articles %}
                            <li data-target="#news-carousel" data-slide-to="{{ forloop.counter0 }}" {% if forloop.counter0 == 0 %}class="active"{% endif %}></li>
                        {% endfor %}
                    </ol>
                    <div class="carousel-inner text-center bg-info" role="listbox">
                        {% for article in articles %}
                            <div class="carousel-item carousel-darken {% if forloop.counter0 == 0 %}active{% endif %}" style="background-image: url('{{ article.picture.url }}'); background-size: cover;">
                                <!-- Desktop version -->
                                <div class="carousel-caption d-none d-lg-flex d-xl-flex">
                                    <div class="text-left">
                                        <h1 class="carousel-title-lg">{{ article.title }}</h1>
                                        <p class="carousel-body-lg">{{ article.body_plaintext|truncatewords:50 }}</p>
                                        <a class="link-unstyled" href="{{ article.url }}">
                                            <button type="button" class="btn btn-main btn-lg carousel-button-lg"><p class="mb-1">Read more</p></button>
                                        </a>
                                    </div>
                                </div>
                                <!-- Mobile version -->
                                <div class="carousel-caption d-flex d-lg-none h-100 align-items-center justify-content-center">
                                    <div>
                                        <h1 class="carousel-title">{{ article.title }}</h1>
                                        <p class="carousel-body">{{ article.body_plaintext|truncatewords:15 }}</p>
                                        <a class="link-unstyled" href="{% url "news_article" article.created_at.year article.created_at.month article.created_at.day article.slug %}">
                                            <button type="button" class="btn btn-main btn-lg carousel-button-lg"><p class="mb-1">Read more</p></button>
                                        </a>
                                    </div>
                                </div>
                            </div>
                        {% endfor %}
                    </div>
                    <a class="carousel-control-prev" href="#news-carousel" role="button" data-slide="prev">
                        <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                        <span class="sr-only">Previous</span>
                    </a>
                    <a class="carousel-control-next" href="#news-carousel" role="button" data-slide="next">
                        <span class="carousel-control-next-icon" aria-hidden="true"></span>
                        <span class="sr-only">Next</span>
                    </a>
                </div>
            </div>
        {% endif %}
        {% endcomment %}
{% endblock %}

{% block in_body %}
    {% if events.future or events.past or articles|length >= 2 %}
        <div class="jumbotron jumbotron-fluid mb-5 pb-3" style="background-color: #f6f6f6;">
            <div class="container">
                {% if events.future %}
                    <div class="row pb-5">
                        <div class="col-md-4">
                            <a class="link-unstyled" href="{{ events.future.0.url }}">
                                <div class="w-100 image-radius" style="height: 250px; filter: grayscale(50%); -webkit-filter: grayscale(50%); background-image: linear-gradient(to bottom, rgba(61,88,117,0.25) 0%, rgba(61,88,117,0.25) 100%), url('{{ events.future.0.picture.url }}'); background-position: center center; background-size: cover;"></div>
                            </a>
                        </div>
                        <div class="col-md-8 pl-4">
                            <span class="badge badge-main p-2 mb-3 ml-auto mr-auto d-table mt-4 d-md-inline-block mt-md-0">Upcoming event</span>
                            <a class="link-unstyled" href="{{ events.future.0.url }}">
                                <h2 class="text-center text-md-left text-main mb-4">{{ events.future.0.name }}</h2>
                            </a>
                            <p class="text-center text-md-left">{{ events.future.0.starts_at|date:"F j, Y H:i" }}</p>
                            <p class="text-center text-md-left mb-0">{{ events.future.0.description_short }}</p>
                            {% if events.future.0.is_signup_open %}
                                <a class="link-unstyled mt-3 mb-0 d-block text-center text-md-left" href="{{ events.future.0.url }}"><p class="text-main mb-0">Register now <i class="fas fa-arrow-right ml-1"></i></p></a>
                            {% endif %}
                        </div>
                    </div>
                {% elif events.past %}
                    <div class="row pb-5">
                        <div class="col-md-4">
                            <a class="link-unstyled" href="{{ events.past.0.url }}">
                                <div class="w-100 image-radius" style="height: 250px; filter: grayscale(50%); -webkit-filter: grayscale(50%); background-image: linear-gradient(to bottom, rgba(61,88,117,0.25) 0%, rgba(61,88,117,0.25) 100%), url('{{ events.past.0.picture.url }}'); background-position: center center; background-size: cover;"></div>
                            </a>
                        </div>
                        <div class="col-md-8 pl-4">
                            <span class="badge badge-main-s2 p-2 mb-3 ml-auto mr-auto d-table mt-4 d-md-inline-block mt-md-0">Past event</span>
                            <a class="link-unstyled" href="{{ events.past.0.url }}">
                                <h2 class="text-center text-md-left text-main mb-4">{{ events.past.0.name }}</h2>
                            </a>
                            <p class="text-center text-md-left mb-0">{{ events.past.0.description_short }}</p>
                        </div>
                    </div>
                {% endif %}
                {% for article in articles %}
                    {% if forloop.counter0 > 0 %}
                        <div class="row pb-5">
                            <div class="col-md-4">
                                <a class="link-unstyled" href="{{ article.url }}">
                                    <div class="w-100 image-radius" style="height: 250px; filter: grayscale(50%); -webkit-filter: grayscale(50%); background-image: linear-gradient(to bottom, rgba(61,88,117,0.25) 0%, rgba(61,88,117,0.25) 100%), url('{{ article.picture.url }}'); background-position: center center; background-size: cover;"></div>
                                </a>
                            </div>
                            <div class="col-md-8 pl-4">
                                <span class="badge badge-main2 p-2 mb-3 ml-auto mr-auto d-table mt-4 d-md-inline-block mt-md-0">Article</span>
                                <a class="link-unstyled" href="{{ article.url }}">
                                    <h2 class="text-center text-md-left text-main mb-4">{{ article.title }}</h2>
                                </a>
                                <p class="text-center text-md-left mb-0">{{ article.description_short }}</p>
                                <a class="link-unstyled mt-3 mb-0 d-block text-center text-md-left" href="{{ article.url }}"><p class="text-main mb-0">Read more <i class="fas fa-arrow-right ml-1"></i></p></a>
                            </div>
                        </div>
                    {% endif %}
                {% endfor %}
            </div>
        </div>
    {% endif %}
    {% comment %}
    <div class="container">
        {% if articles|length > 2 or articles|length > 1 and events %}
            <div class="row mt-0 mb-0">
                <div class="col-md-6">
                    <div class="card flex-md-row mt-0 mb-0 shadow-sm h-md-250">
                        <div class="card-body d-flex flex-column align-items-start">
                            <strong class="d-inline-block mb-2 text-orange"><a class="link-unstyled" href="{% url "news_articles" %}">Article</a></strong>
                            <h3 class="pb-2 line-max-2">
                                <a class="text-dark link-unstyled" href="{% url "news_article" articles.1.created_at.year articles.1.created_at.month articles.1.created_at.day articles.1.slug %}">{{ articles.1.title }}</a>
                            </h3>
                        <div class="mb-1 text-muted">{{ articles.1.created_at|date:"M j" }}</div>
                            <p class="card-text mb-auto">{{ articles.1.description_short }}</p>
                            <a class="link-colour" href="{% url "news_article" articles.1.created_at.year articles.1.created_at.month articles.1.created_at.day articles.1.slug %}">Read more</a>
                        </div>
                        <a href="{% url "news_article" articles.1.created_at.year articles.1.created_at.month articles.1.created_at.day articles.1.slug %}">
                            <img class="card-img-right flex-auto d-none d-lg-block" style="width: 200px; height: 250px;" src="{{ articles.1.picture.crop.200x250 }}">
                        </a>
                    </div>
                </div>
                {% if events %}
                    <div class="col-md-6">
                        <div class="card flex-md-row mt-0 mb-0 shadow-sm h-md-250">
                            <div class="card-body d-flex flex-column align-items-start">
                                <strong class="d-inline-block mb-2 text-orange"><a class="link-unstyled" href="{% url "events_events" %}">Event</a></strong>
                                <h3 class="pb-2 line-max-2">
                                    <a class="text-dark link-unstyled" href="{{ events.0.url }}">{{ events.0.name }}</a>
                                </h3>
                            <div class="mb-1 text-muted">{{ events.0.starts_at|date:"M j" }}</div>
                                <p class="card-text mb-auto">{{ events.0.description_short }}</p>
                                <a class="link-colour" href="{{ events.0.url }}">Check it out</a>
                            </div>
                            <a href="{{ events.0.url }}">
                                <img class="card-img-right flex-auto d-none d-lg-block" style="width: 200px; height: 250px;" src="{{ events.0.picture.crop.200x250 }}">
                            </a>
                        </div>
                    </div>
                {% else %}
                    <div class="col-md-6">
                        <div class="card flex-md-row mt-0 mb-0 shadow-sm h-md-250">
                            <div class="card-body d-flex flex-column align-items-start">
                                <strong class="d-inline-block mb-2 text-orange"><a class="link-unstyled" href="{% url "news_articles" %}">Article</a></strong>
                                <h3 class="pb-2 line-max-2">
                                    <a class="text-dark link-unstyled" href="{% url "news_article" articles.2.created_at.year articles.2.created_at.month articles.2.created_at.day articles.2.slug %}">{{ articles.2.title }}</a>
                                </h3>
                            <div class="mb-1 text-muted">{{ articles.2.created_at|date:"M j" }}</div>
                                <p class="card-text mb-auto">{{ articles.2.description_short }}</p>
                                <a class="link-colour" href="{% url "news_article" articles.2.created_at.year articles.2.created_at.month articles.2.created_at.day articles.2.slug %}">Read more</a>
                            </div>
                            <a href="{% url "news_article" articles.2.created_at.year articles.2.created_at.month articles.2.created_at.day articles.2.slug %}">
                                <img class="card-img-right flex-auto d-none d-lg-block" style="width: 200px; height: 250px;" src="{{ articles.2.picture.crop.200x250 }}">
                            </a>
                        </div>
                    </div>
                {% endif %}
            </div>
        {% endif %}
    </div>
    {% endcomment %}
    <div class="container">
        <div class="row mt-4 mb-0">
            <div class="col-md-12">
                <h1 class="text-main text-center text-md-left">Our mission</h1>
                <p class="text-center text-md-left">At <strong>KTHAIS</strong>, we believe in the creative force of ambitious students to, from the very onset of their careers, explore and shape the future of technology. To this effect, we are inclusive of all backgrounds and seek out collaborations with other parties to achieve maximum impact in all endeavours that spike our curiosity. We organise networking events, educational lectures, workshops, hackathons and research projects for students by students.</p>
            </div>
        </div>
        <div class="row mt-4 mb-3 mb-md-5">
            <div class="col-md-12">
                <h2 class="text-center mb-4 text-main">Our goals</h2>
                <div class="row text-center pt-2 pb-2">
                    <div class="col-md-4 mb-4 mb-md-0">
                        <img class="w-100 mb-2 mb-md-3" src="{% static "img/home_2_b.png" %}" />
                        <p class="mt-2 mb-0">Provide all students at KTH with working knowledge of AI and its impacts on society in general and their specific field in particular.</p>
                    </div>
                    <div class="col-md-4 mb-4 mb-md-0">
                        <img class="w-100 mb-2 mb-md-3" src="{% static "img/home_1_b.png" %}" />
                        <p class="mt-2 mb-0">Cultivate collaboration between academia and industry to promote job placement and business creation.</p>
                    </div>
                    <div class="col-md-4 mb-4 mb-md-0">
                        <img class="w-100 mb-2 mb-md-3" src="{% static "img/home_3_b.png" %}" />
                        <p class="mt-2 mb-0">Broadcast new insights and results stemming from our activities to further the development and adoption of universally beneficial AI.</p>
                    </div>
                </div>
            </div>
        </div>
        <div class="row mt-4 mb-0">
            <div class="col-md-12">
                <h2 class="text-center mb-4 text-main">Our history</h2>
                <div class="row text-center pt-2 pb-2">
                    <div class="col-md-12">
                        <ul class="timeline">
                            <li>
                                <div class="timeline-badge badge-main2"><i class="fas fa-users"></i></div>
                                <div class="timeline-panel">
                                    <div class="timeline-heading">
                                        <h4 class="timeline-title text-main">Brand new start</h4>
                                        <p><small class="text-muted">January 2020 <i class="far fa-calendar ml-1"></i></small></p>
                                    </div>
                                    <div class="timeline-body">
                                        <p>A new board was elected for the year of 2020 and a long-term partnership with McKinsey & Company was signed. 2020 is looking to be the greatest year yet for KTHAIS.</p>
                                    </div>
                                </div>
                            </li>
                            <li class="timeline-inverted">
                                <div class="timeline-badge badge-main2"><i class="fas fa-calendar-day"></i></div>
                                <div class="timeline-panel">
                                    <div class="timeline-heading">
                                        <h4 class="timeline-title text-main">The first KTH AI day</h4>
                                        <p><small class="text-muted">September 2019 <i class="far fa-calendar ml-1"></i></small></p>
                                    </div>
                                    <div class="timeline-body">
                                        <p>Over 150 students attend KTHAIS flagship event at Nymble. Members join Ericsson and Accenture during workshops, listen to a panel discussion with AI Startups and chat with the wonderful Furhat of Furhat Robotics.</p>
                                    </div>
                                </div>
                            </li>
                            <li>
                                <div class="timeline-badge badge-main2"><i class="fas fa-running"></i></div>
                                <div class="timeline-panel">
                                    <div class="timeline-heading">
                                        <h4 class="timeline-title text-main">Out the gates running</h4>
                                        <p><small class="text-muted">January 2019 <i class="far fa-calendar ml-1"></i></small></p>
                                    </div>
                                    <div class="timeline-body">
                                        <p>A core team is recruited and several soon to be successful projects are planned. Massive positive feedback is received from the KTH student community and KTHAIS becomes the fastest growing organisation at KTH.</p>
                                    </div>
                                </div>
                            </li>
                            <li class="timeline-inverted">
                                <div class="timeline-badge badge-main"><i class="fas fa-plus"></i></div>
                                <div class="timeline-panel">
                                    <div class="timeline-heading">
                                        <h4 class="timeline-title text-main">An idea is born</h4>
                                        <p><small class="text-muted">August 2018 <i class="far fa-calendar ml-1"></i></small></p>
                                    </div>
                                    <div class="timeline-body">
                                        <p>Alexander Jacobsen came to Filip Matz with an idea: To create a driven community of people interested in AI at KTH that could enable students to change the future of the field.</p>
                                    </div>
                                </div>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
    {% if board %}
        <div class="jumbotron jumbotron-fluid mt-5 mb-0 bg-main-s2 text-white">
            <div class="container container-fluid pb-5 pb-md-0">
                <h2 class="text-center mt-0 mb-3">Project group</h2>
                <div class="row justify-content-md-center home-organisers">
                    {% for role, organisers in board.items %}
                        <div class="row w-100 justify-content-md-center mt-4 mb-1">
                            <div class="col-12 text-center ml-auto mr-auto ml-md-0 mr-md-0">
                                <p class="mb-2" style="line-height: 1;">{{ role|upper }}</p>
                            </div>
                            {% for organiser in organisers %}
                                <div class="col-2 text-center ml-auto mr-auto ml-md-0 mr-md-0">
                                    {% if organiser.website %}<a href="{{ organiser.website }}" target="_blank" class="link-unstyled">{% endif %}
                                    {% comment %}
                                        <img src="{{ organiser.picture.url }}" class="ml-auto mr-auto">
                                    {% endcomment %}
                                    <h6 class="mt-1 mb-1">{{ organiser.full_name }} {% if organiser.role_is_head %}⭐{% endif %}</h6>
                                    <p class="mb-0" style="line-height: 1;"><small><a href="mailto:{{ organiser.email }}" target="_blank" class="link-unstyled">{{ organiser.email }}</a></small></p>
                                    {% if organiser.website %}</a>{% endif %}
                                </div>
                            {% endfor %}
                        </div>
                    {% endfor %}
                </div>
            </div>
        </div>
    {% endif %}
{% endblock %}
