{% extends "base.html" %}
{% load app_tags %}
{% load static %}

{% block head_title %}Statistics{% endblock %}

{% block in_body %}
    <div class="container container-body py-5">
        <div class="row d-none d-lg-block">
            <div class="col-md-12">
                <nav aria-label="breadcrumb">
                    <ol class="breadcrumb bg-transparent p-0 pb-2">
                        <li class="breadcrumb-item"><a class="link-unstyled" href="{% url 'app_home' %}">Home</a></li>
                        <li class="breadcrumb-item"><a class="link-unstyled" href="{% url 'app_statistics' %}">Statistics</a></li>
                    </ol>
                </nav>
            </div>
        </div>
        <div class="row mb-1">
            <div class="col-md-12">
                <h1 class="section-title text-main text-center text-md-left">Statistics</h1>
            </div>
        </div>
        <div class="row mb-4">
            <div class="col-md-12 mb-4">
                <div class="card w-100">
                    <div class="card-body">
                        <h3 class="card-title mb-4">📈 Members</h3>
                        <div class="row">
                            <div class="col-md-12">
                                <div id="plot-members" class="w-100 mb-4" style="height:400px;"></div>
                                <div id="plot-new-members" class="w-100 mb-4" style="height:400px;"></div>
                                <div class="row">
                                    <div class="col-12 col-md-6">
                                        <div id="plot-members-gender" class="w-100" style="height:400px;"></div>
                                    </div>
                                    <div class="col-12 col-md-6">
                                        <div id="plot-members-year" class="w-100" style="height:400px;"></div>
                                    </div>
                                </div>
                                <script type="text/javascript">
                                    var total_members = {
                                      type: 'scatter',
                                      x: [{% for day, val in statistics.members %}'{{ day|date:"Y-m-d" }}',{% endfor %}],
                                      y: [{% for day, val in statistics.members %}{{ val }},{% endfor %}],
                                      mode: 'lines',
                                      name: 'All registrations',
                                      line: {
                                        color: '#00ABE7',
                                        width: 3
                                      }
                                    };

                                    var total_members_verified = {
                                      type: 'scatter',
                                      x: [{% for day, val in statistics.members_verified %}'{{ day|date:"Y-m-d" }}',{% endfor %}],
                                      y: [{% for day, val in statistics.members_verified %}{{ val }},{% endfor %}],
                                      mode: 'lines',
                                      name: 'Email verified',
                                      line: {
                                        dash: 'dashdot',
                                        color: '#2DC7FF',
                                        width: 3
                                      }
                                    };

                                    var total_members_finished = {
                                      type: 'scatter',
                                      x: [{% for day, val in statistics.members_finished %}'{{ day|date:"Y-m-d" }}',{% endfor %}],
                                      y: [{% for day, val in statistics.members_finished %}{{ val }},{% endfor %}],
                                      mode: 'lines',
                                      name: 'Registration finished',
                                      line: {
                                        dash: 'dot',
                                        color: '#70D9FF',
                                        width: 3
                                      }
                                    };

                                    var layout_members = {
                                        xaxis: {
                                            title: 'Date',
                                            range: ['{{ zoom.0|date:"Y-m-d" }}', '{{ zoom.1|date:"Y-m-d" }}']
                                        },
                                        yaxis: {
                                            title: 'Members'
                                        },
                                        autosize: true,
                                        margin: {
                                            l: 50,
                                            r: 50,
                                            b: 50,
                                            t: 0,
                                            pad: 4
                                        },
                                        font: {
                                            family: '"Futura", sans-serif',
                                        }
                                    };

                                    var data_members = [total_members, total_members_verified, total_members_finished];

                                    Plotly.newPlot('plot-members', data_members, layout_members, {responsive: true});

                                    var new_members =
                                    {
                                        x: [{% for day, val in statistics.new_members %}'{{ day|date:"Y-m-d" }}',{% endfor %}],
                                        y: [{% for day, val in statistics.new_members %}{{ val }},{% endfor %}],
                                        type: 'bar',
                                        name: 'Unverified members',
                                        marker: {
                                            color: '#00ABE7',
                                            width: 3
                                        }
                                    };

                                    var new_members_verified =
                                    {
                                        x: [{% for day, val in statistics.new_members_verified %}'{{ day|date:"Y-m-d" }}',{% endfor %}],
                                        y: [{% for day, val in statistics.new_members_verified %}{{ val }},{% endfor %}],
                                        type: 'bar',
                                        name: 'Email verified',
                                        marker: {
                                            color: '#2DC7FF',
                                            width: 3
                                        }
                                    };

                                    var new_members_finished =
                                    {
                                        x: [{% for day, val in statistics.new_members_finished %}'{{ day|date:"Y-m-d" }}',{% endfor %}],
                                        y: [{% for day, val in statistics.new_members_finished %}{{ val }},{% endfor %}],
                                        type: 'bar',
                                        name: 'Registration finished',
                                        marker: {
                                            color: '#70D9FF',
                                            width: 3
                                        }
                                    };

                                    var layout_new_members = {
                                        xaxis: {
                                            title: 'Date',
                                            range: ['{{ zoom.0|date:"Y-m-d" }}', '{{ zoom.1|date:"Y-m-d" }}']
                                        },
                                        yaxis: {
                                            title: 'New members'
                                        },
                                        autosize: true,
                                        margin: {
                                            l: 50,
                                            r: 50,
                                            b: 50,
                                            t: 0,
                                            pad: 4
                                        },
                                        font: {
                                            family: '"Futura", sans-serif',
                                        },
                                        barmode: 'stack'
                                    };

                                    var data_new_members = [new_members, new_members_verified, new_members_finished];

                                    Plotly.newPlot('plot-new-members', data_new_members, layout_new_members, {responsive: true});

                                    var members_gender =
                                    {
                                        values: [{% for val in statistics.members_gender.values %}{{ val }},{% endfor %}],
                                        labels: [{% for gender in statistics.members_gender.keys %}'{{ enums.user.gender|keyvalue:gender }}',{% endfor %}],
                                        type: 'pie',
                                        name: 'Gender',
                                        marker: {
                                                colors: [{% for gender in statistics.members_gender.keys %}'{{ enums.user.gender_colours|keyvalue:gender }}',{% endfor %}]
                                        }
                                    };

                                    var layout_members_gender = {
                                        autosize: true,
                                        font: {
                                            family: '"Futura", sans-serif',
                                        },
                                        margin: {
                                            l: 25,
                                            r: 25,
                                            b: 25,
                                            t: 50,
                                            pad: 4
                                        },
                                    };

                                    var data_members_gender = [members_gender];

                                    Plotly.newPlot('plot-members-gender', data_members_gender, layout_members_gender, {responsive: true});

                                    var members_year =
                                    {
                                        values: [{% for val in statistics.stats_members_year.values %}{{ val }},{% endfor %}],
                                        labels: [{% for year in statistics.stats_members_year.keys %}'{{ year }}',{% endfor %}],
                                        type: 'pie',
                                        name: 'Birth year'
                                    };

                                    var layout_members_year = {
                                        autosize: true,
                                        font: {
                                            family: '"Futura", sans-serif',
                                        },
                                        margin: {
                                            l: 25,
                                            r: 25,
                                            b: 25,
                                            t: 50,
                                            pad: 4
                                        },
                                    };

                                    var data_members_year = [members_year];

                                    Plotly.newPlot('plot-members-year', data_members_year, layout_members_year, {responsive: true});
                                </script>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-12">
                <div class="card w-100">
                    <div class="card-body">
                        <h3 class="card-title mb-4">🎟️ Events</h3>
                        <div class="row">
                            <div class="col-md-12">
                                <div id="plot-registrations" class="w-100" style="height:400px;"></div>
                                <script type="text/javascript">
                                    var new_registrations_registered =
                                    {
                                        x: [{% for day, val in statistics.new_registrations_registered %}'{{ day|date:"Y-m-d" }}',{% endfor %}],
                                        y: [{% for day, val in statistics.new_registrations_registered %}{{ val }},{% endfor %}],
                                        type: 'bar',
                                        name: 'Registered',
                                        marker: {
                                            color: '#00ABE7',
                                            width: 3
                                        }
                                    };

                                    var new_registrations_joined =
                                    {
                                        x: [{% for day, val in statistics.new_registrations_joined %}'{{ day|date:"Y-m-d" }}',{% endfor %}],
                                        y: [{% for day, val in statistics.new_registrations_joined %}{{ val }},{% endfor %}],
                                        type: 'bar',
                                        name: 'Joined',
                                        marker: {
                                            color: '#70D9FF',
                                            width: 3
                                        }
                                    };

                                    var layout_new_registrations = {
                                        xaxis: {
                                            title: 'Date',
                                            range: ['{{ zoom.0|date:"Y-m-d" }}', '{{ zoom.1|date:"Y-m-d" }}']
                                        },
                                        yaxis: {
                                            title: 'Registrations'
                                        },
                                        autosize: true,
                                        margin: {
                                            l: 50,
                                            r: 50,
                                            b: 50,
                                            t: 0,
                                            pad: 4
                                        },
                                        font: {
                                            family: '"Futura", sans-serif',
                                        },
                                        barmode: 'stack',
                                        annotations: [
                                            {% for session in sessions %}
                                                {
                                                    y: {{ session.registrations_same_day }},
                                                    x: '{{ session.starts_at|date:"Y-m-d" }}',
                                                    xref: 'x',
                                                    yref: 'y',
                                                    text: '{{ session.name }}',
                                                    showarrow: true,
                                                    arrowhead: 7,
                                                    ax: 0,
                                                    ay: -40
                                                },
                                            {% endfor %}
                                        ]
                                    };

                                    var data_new_registrations = [new_registrations_registered, new_registrations_joined];

                                    Plotly.newPlot('plot-registrations', data_new_registrations, layout_new_registrations, {responsive: true});
                                </script>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}
